<div class="content-wrapper">
    <div class="col-lg-12" ng-controller="pharmacyTransactionReturnCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">{{ tab_text }}</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class = "row">
                    <div class="col-lg-12">
                        <div class="radio">
                            <label class="radio-inline icheck">
                                <input type="radio" name="nasters-tab" checked ng-click="redirect('app.pharmacy-transaction-return.sales','Sales Return')">
                                <i></i>Sales
                            </label>
                            <label class="radio-inline icheck">
                                <input type="radio" name="nasters-tab" ng-click="redirect('app.pharmacy-transaction-return.stock','Stock Return')">
                                <i></i>Stock
                            </label>
                        </div>
                    </div>
                </div>
                <div class = "row">&nbsp;</div>
                <div ui-view>

                </div>
            </div>
        </section>
    </div>
</div>
