<div class="content-wrapper" ng-init="app.settings.pagetitle = 'Collections';">
    <div class="col-lg-12" ng-controller="ModalDemoCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Collection</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body collection">
               
               
                <div class="row margin-top-30">
                        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6 margin-bottom-30">
                            <div class="tile-counter bg-primary margin-bottom-0" ng-click="dailyCollection('lg')">
                                <div class="content">
                                    <i class='fa fa-calendar icon-lg'></i>
                                    <div class="clearfix"></div>
                                    <span>Daily</span>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary" ng-click="weeklyCollection('lg')">
                                <div class="content">
                                    <i class='fa fa-calendar icon-lg'></i>
                                    <div class="clearfix"></div>
                                    <span>Weekly</span>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary" ng-click="monthlyCollection('lg')">
                                <div class="content">
                                    <i class='fa fa-calendar icon-lg'></i>
                                    <div class="clearfix"></div>
                                    <span>Monthly</span>
                                </div>
                                
                            </div>
                        </div>
                      
                       
                       
                    </div>
                    
                    
                    <div class="row">
                       <div class="col-md-12">
                        
                         <h4>Reports</h4>
                        <hr class="hrheading">
                        
                        </div>
                    </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="5%">Sr.No</th>
                                    <th>Lorem</th>
                                    <th>Ipsum</th>
                                    <th>Lore</th>
                                   
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Sample</td>
                                    <td>Lorem</td>
                                    <td>Data</td>
                                   
                                    
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sample</td>
                                    <td>Lorem</td>
                                    <td>Data</td>
                                   
                                    
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sample</td>
                                    <td>Lorem</td>
                                    <td>Data</td>
                                   
                                    
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Sample</td>
                                    <td>Lorem</td>
                                    <td>Data</td>
                                   
                                    
                                </tr>
                               
                                 
                               
                            </tbody>
                        </table>
                    </div>
                  
                </div>
                
                <div class="row">
                    
                    <div class="col-md-12 text-right">
                        
                        <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
                    </div>
                </div>
                
                


            </div>
        </section>
    </div>
</div>