<div class="content-wrapper" ng-init="app.settings.pagetitle = 'Invoice New Request';">
    <div class="col-lg-12" ng-controller="ModalDemoCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">New Lab Request</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <h3>patient Info</h3> -->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Mobile Number</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label>Date of Birth</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            OR
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Age</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <select class="form-control">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Blood Group</label>
                                    <select class="form-control">
                                        <option>A+</option>
                                        <option>A-</option>
                                        <option>B+</option>
                                        <option>B-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Reference Dr.</label><button>+ Doctor</button>
                                    <!--
                                        doctor name,
                                        clinic name,
                                        add a doctor
                                        Ref Percentage
                                        location
                                        area
                                        city
                                        contact no
                                    -->
                                    <select class="form-control">
                                        <option>Doctor 1</option>
                                        <option>Doctor 2</option>
                                        <option>Doctor 3</option>
                                        <option>Doctor 4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                         <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Prescriptons</h4>
                        <hr class="hrheading">
                        <div class="row top15">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover invoice-table">
                                        <thead>
                                            <tr>
                                                <td width="5%">
                                                    <h4>Sr.No</h4></td>
                                                <td width="65%">
                                                    <h4>Investigations</h4></td>
                                                <td width="15%">
                                                    <h4>Price</h4></td>
                                               <td width="15%">
                                                    <h4>Rf.Amount</h4></td>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                               
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                               
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                               
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                               
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                
                
                <div class="row">
                            <div class="col-md-12">
                                
                                <button class="btn btn-primary">Add New</button>
                            </div>
                        </div>
                        
                        
                        <hr>
                
                <div class="row">
                    <div class="col-md-12">
                       

                        <div class="row">



                            <div class="col-md-4">
                               


                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Concessions" class="form-control">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Net Amount" class="form-control">
                                    </div>
                                </div>


                             






                            </div>




                            <div class="col-md-4">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Payment Mode</option>
                                        <option>Cash</option>
                                        
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Paid Amount" class="form-control">
                                    </div>
                                </div>

                               


                               

                            </div>



                            <div class="col-md-4">


                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Bill Amount" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Due Amount" class="form-control">
                                    </div>
                                </div>

                               
                            </div>




                        </div>



                    </div>
                </div>
                
                
                
                
                
                
                
                 <hr>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <div class="">
                            <button type="submit" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="submit" class="btn btn-primary">Save&amp;Print</button>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>
</div>