<div class="content-wrapper" ng-init="app.settings.pagetitle = 'OP';">
    <div class="col-lg-12" ng-controller="ModalDemoCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Lab OP Request</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <h3>patient Info</h3> -->

                        <div class="row">

                            <div class="col-md-4 text-right">


                                <div class="form-group">
                                    <div class="controls">
                                        <label><strong>Date:</strong> 16/03/16</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Patient Name" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Age" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>

                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Address Det's" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Contact No" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                &nbsp;
                            </div>


                        </div>
                        <hr>



                        <div class="row">

                            <div class="col-md-4">
                                <button class="btn btn-default btn-sm">Add Referral</button>
                                <button class="btn btn-default btn-sm">Add Consultant's</button>
                            </div>
                            <div class="col-md-4 text-right">
                                &nbsp;
                            </div>
                            <div class="col-md-4 text-right">
                                &nbsp;
                            </div>


                        </div>

                        <div class="row top15">

                            <div class="col-md-4">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Referral Name</option>


                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Consultant</option>


                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                &nbsp;
                            </div>


                        </div>

                        <hr>

                        <div class="row">

                            <div class="col-md-4">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Payment Mode</option>
                                        <option>Cash</option>


                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Fee paying" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="For Clinic" class="form-control">
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="row">


                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="In Words" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Towards</option>
                                        <option>lorem</option>
                                        <option>lorem</option>


                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 text-right">
                                <button class="btn btn-default btn-sm">Cancellation ?</button>
                            </div>


                        </div>

                        <hr>

                        <div class="row">


                            <div class="col-md-12 text-right">


                                <button class="btn btn-primary">Save</button>
                                <button class="btn btn-primary">Clear</button>
                                <button class="btn btn-primary">Print</button>
                            </div>
                        </div>





                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
