<div class="content-wrapper" ng-init="app.settings.pagetitle = 'Voucher Payment';">
    <div class="col-lg-12" ng-controller="ModalDemoCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Voucher Payment</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Paid To</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Account Type</label>
                                    <select class="form-control">
                                        <option></option>
                                        <option>General Exp</option>
                                        <option>Salaries</option>
                                        <option>Doctor Exp</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Pay Mode</label>
                                    <select class="form-control">
                                        <option></option>
                                        <option>Cash</option>
                                        <option>Check</option>
                                        <option>Online</option>                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control">
                                        <option></option>
                                        <option>Cash</option>
                                        <option>Check</option>
                                        <option>Online</option>                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Purpose</label>
                                    <textarea class="form-control"></textarea>
                                        
                                </div>
                            </div>
                        </div>
                       
                        <!--<div class="row">
                            <div class="col-md-4">
                                <div class="row margin-bottom-25">
                                    <div class="col-md-5 margin-top-5">
                                        <label for="exampleInputName2">Voucher No:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" id="exampleInputName2" value="152452" disabled>
                                    </div>
                                </div>
                              
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="date" placeholder="Date" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                            
                              <div class="input-group">
                                    <select class="form-control">
                                        <option>Select Account</option>
                                        <option>General Exp</option>
                                        <option>Salaries</option>
                                        <option>Doctor Exp</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Pay Type</option>
                                        <option>lorem</option>
                                        <option>ipsum</option>
                                        
                                    </select>
                                </div>
                              
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Paid To" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                            
                               <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Amount" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                         <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Category</option>
                                        <option>lorem</option>
                                        <option>ipsum</option>
                                        
                                    </select>
                                </div>
                              
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="controls">
                                        <textarea  placeholder="Purpose" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                           
                        </div>-->
                        
                        <hr>
                        
                         <div class="row">
                         
                         <div class="col-md-12 text-right">
                             
                             <button class="btn btn-default">Cancel</button>
                             <button class="btn btn-primary">Save</button>
                             
                             
                         </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </section>
    </div>
</div>
