<div class="content-wrapper">
    <div class="col-lg-12" ng-controller="pharmacySpecialityTemplatesCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Templates</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="input-group">
                            <select class="form-control">
                                <option selected="selected">Select Operation</option>
                                <option>Operation</option>
                                <option>Operation</option>
                                <option>Operation</option>
                                <option>Operation</option>
                                <option>Operation</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group"></div>
                        <div class="form-group"></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group"><div class="controls">
                            <button class="btn btn-primary btn-xs" ng-click="">Create Template</button>
                        </div></div>
                        <div class="form-group"></div>
                    </div>



                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-bordered table-hover bg-white-only">
                            <tr style="font-weight: bold">
                                <td>Drug Id</td>
                                <td>Drug Name</td>
                                <td>Brand</td>
                                <td>Type</td>
                                <td>Action</td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="field-1" class="form-control" type="text" kl_virtual_keyboard_secure_input="on">
                                </td>
                                <td>
                                    <input id="field-1" class="form-control" type="text" kl_virtual_keyboard_secure_input="on">
                                </td>
                                <td>
                                    <input id="field-1" class="form-control" type="text" kl_virtual_keyboard_secure_input="on">
                                </td>
                                <td>
                                    <input id="field-1" class="form-control" type="text" kl_virtual_keyboard_secure_input="on">
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-xs" ng-click="addUser()">EDIT</button>
                                    <button class="btn btn-primary btn-xs" ng-click="addUser()">DELETE</button>
                                </td>

                            </tr>
                        </table>

                    </div></div>
            </div>
        </section>
    </div>
</div>