<ul class="wraplist wrapper-menu">
   
    <li href class="auto">
        <a href="javascript:;">
            <i class="material-icons">dashboard</i>
            <span class="title">Dashboard</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.front-office-dashboard">FO-Dashboard</a>
            </li>
             <li ui-sref-active="active">
                <a ui-sref="app.nurse-dashboard">Nurse-Dashboard</a>
            </li>
            
             <li ui-sref-active="active">
                <a ui-sref="app.roaster">Roaster</a>
            </li>
        </ul>
    </li>
    
    <li href class="auto">
        <a href="javascript:;">
            <i class="material-icons">people</i>
            <span class="title">Patient</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.in-patient-registration">Inpatient Reg</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.quick-appointment">Quick Appointment</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.bed-occupancy">Bed Occupancy</a>
            </li>
             <li ui-sref-active="active">
                <a ui-sref="app.add-operation-details">Add Operation</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.case-sheet">Case Sheet</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-book icon-lg"></i>
            <span class="title">Appointment</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.appointment-summary">Appointment Summary</a>
            </li>
        </ul>
    </li>

     <li href class="auto">
        <a href="javascript:;">
            <i class="material-icons">person_add</i>
            <span class="title">Doctor</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.my-appointments">My Appointments</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.my-revenue">My Revenue</a>
            </li>
             <li ui-sref-active="active">
                <a ui-sref="app.op-review">OP Review</a>
            </li>
        </ul>
    </li>
     <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-list"></i>
            <span class="title">Billing</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.bill-summary">Bill Summary</a>
            </li>
        </ul>
    </li>
     <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-users"></i>
            <span class="title">Staff</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.front-office-dashboard">Staff</a>
            </li>
        </ul>
    </li>
     <li href class="auto">
        <a href="javascript:;">
           <i class="fa fa-hospital-o"></i>
            <span class="title">Hospital</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.front-office-dashboard">Hospital</a>
            </li>
        </ul>
    </li>
     <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-user-md"></i>
            <span class="title">Nurse</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.front-office-dashboard">Nurse</a>
            </li>
        </ul>
    </li>

     <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-list-alt"></i>
            <span class="title">Reports</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.front-office-dashboard">Reports</a>
            </li>
        </ul>
    </li>

     <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-flask"></i>
            <span class="title">Lab</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.invoice-new-request">Invoice new request</a>
            </li>
             <li ui-sref-active="active">
                <a ui-sref="app.collections">Collections</a>
            </li>
              <li ui-sref-active="active">
                <a ui-sref="app.voucher-payment">Voucher Payment</a>
            </li>
            
             <li ui-sref-active="active">
                <a ui-sref="app.lab-op">Lab-OP</a>
            </li>
        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-plus-square"></i>
            <span class="title">Store</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.front-office-dashboard">Store</a>
            </li>
        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-lock"></i>
            <span class="title">Admin</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.front-office-dashboard">Admin</a>
            </li>
        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-plus-square"></i>
            <span class="title">Pharmacy</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.pharmacy-masters">Add Masters</a>
                <!--<ul class="wraplist wraplist-sub sub-menu dk">-->
                    <!--<li ui-sref-active="active">-->
                        <!--<a href="javascript:;">Company</a>-->
                    <!--</li>-->
                    <!--<li ui-sref-active="active">-->
                        <!--<a href="javascript:;">Add Medicine Type</a>-->
                    <!--</li>-->
                    <!--<li ui-sref-active="active">-->
                        <!--<a href="javascript:;">Add Medicine</a>-->
                    <!--</li>-->
                    <!--<li ui-sref-active="active">-->
                        <!--<a href="javascript:;">Add Order Details</a>-->
                    <!--</li>-->
                <!--</ul>-->
            </li>
            <li ui-sref-active="active">
                <a href="javascript:;">Transaction<span class="arrow material-icons">keyboard_arrow_right</span></a>
                <ul class="wraplist wraplist-sub sub-menu dk">
                     <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-transaction-order">Order</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-transaction-medicine-invoice">Medicine Invoice</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-transaction-return">Return</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-transaction-refill">Refill/Resale</a>
                    </li>

                </ul>
            </li>
            <li ui-sref-active="active">
                <a href="javascript:;">Alerts<span class="arrow material-icons">keyboard_arrow_right</span></a>
                <ul class="wraplist wraplist-sub sub-menu dk">
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-alert-expiry-medicine">Expiry Medicine</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-alert-stock-alerts">Stock Alerts</a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a href="javascript:;">Reports<span class="arrow material-icons">keyboard_arrow_right</span></a>
                <ul class="wraplist wraplist-sub sub-menu dk">
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-reports-collection">Collection Report</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-reports-sales">Sales Report</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-reports-sales-return">Sales Retun</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-reports-stock">Stock Return</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-reports-patience-invoice">Patience Invoice Report</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-reports-medicine-stock">Medicine Stock Report</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-reports-medicine-sales-stock">Medicine sales and Stock report</a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a href="javascript:;">Specialities<span class="arrow material-icons">keyboard_arrow_right</span></a>
                <ul class="wraplist wraplist-sub sub-menu dk">
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-specialities-templates">Templates</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-specialities-vendor-contacts">Vendor Contacts</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-specialities-inventory-mgmt">Inventory Mgmt</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-specialities-auto-order">Auto Order</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-specialities-barcode-mgmt">BarcodeMgmt</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-specialities-store-transfer">Store Transfer</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-specialities-alternatives">Alternatives</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-specialities-accounting">Accounting and Finance</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-specialities-trend-report">Trend Report</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.pharmacy-specialities-plannogram">Plannogram</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
            <i class="fa fa-lock"></i>
            <span class="title">Blood Bank</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a href="javascript:;">Donor Mgmt</a>
                <ul class="wraplist wraplist-sub sub-menu dk">
                    <li ui-sref-active="active">
                        <a ui-sref="app.blood-bank-donor-mgmt-stock-availability">Stock Availability</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.blood-bank-donor-mgmt-stock-requisition">Stock Requisition</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.blood-bank-donor-mgmt-my-request-status">My Request Status</a>
                    </li>
                    <li ui-sref-active="active">
                        <a href="javascript:;">Donor Registration</a>
                        <ul class="wraplist wraplist-sub sub-menu dk">
                            <li ui-sref-active="active">
                                <a href="javascript:;">WORKFLOWS</a>
                                <ul class="wraplist wraplist-sub sub-menu dk">
                                    <li ui-sref-active="active">
                                        <a ui-sref="app.blood-bank-donor-mgmt-donor-registration-workflows-registration">Registration</a>
                                    </li>
                                    <li ui-sref-active="active">
                                        <a ui-sref="app.blood-bank-donor-mgmt-donor-registration-workflows-questionaries">Questionaries</a>
                                    </li>
                                    <li ui-sref-active="active">
                                        <a ui-sref="app.blood-bank-donor-mgmt-donor-registration-workflows-grouping">Grouping</a>
                                    </li>
                                    <li ui-sref-active="active">
                                        <a ui-sref="app.blood-bank-donor-mgmt-donor-registration-workflows-components">Components</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.blood-bank-donor-mgmt-registered-donor-view">Registered - Donor View</a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a href="javascript:;">Lab Mgmt</a> 
                <ul class="wraplist wraplist-sub sub-menu dk">
                    <li ui-sref-active="active">
                        <a ui-sref="app.blood-bank-lab-mgmt-cross-matching-worklist">Cross Matching worklist</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.blood-bank-lab-mgmt-component-preparation">Component Preparation</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.blood-bank-lab-mgmt-blood-grouping">Blood Grouping</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.blood-bank-lab-mgmt-blood-screening">Blood Screening </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.blood-bank-lab-mgmt-discarded-worklist">Discarded WorkList</a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a href="javascript:;">Transfusion Mgmt</a>
                <ul class="wraplist wraplist-sub sub-menu dk">
                    <li ui-sref-active="active">
                        <a ui-sref="app.blood-bank-transfusion-mgmt-blood-request">Blood Request</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.blood-bank-transfusion-mgmt-blood-request-issue">Blood Request Issue</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.blood-bank-transfusion-mgmt-discard-worklist">Discard WorkList</a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blood-bank-camp-registration">Camp Registration</a> 
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.blood-bank-reports">Reports</a>
            </li>
        </ul>
    </li>
</ul>
