<div class="content-wrapper">
    <div class="col-lg-12" ng-controller="pharmacySpecialityVendorContactsCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Vendor Contacts</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group"><div class="controls">
                            <input type="text" class="form-control" id="field-1" value="Supplies / Vendor Name">
                        </div></div>
                        <div class="form-group"><textarea>Address</textarea></div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group"><div class="controls">
                            <input type="text" class="form-control" id="field-1" value="Contact Person">
                        </div></div>
                        <button class="btn btn-primary btn-xs" ng-click="addUser()">ADD</button>

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group"><div class="controls">
                            <input type="text" class="form-control" id="field-1" value="Contact Number">
                        </div></div>
                        <div class="form-group"></div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="input-group">
                            <select class="form-control">
                                <option selected="selected">Brands List By</option>
                                <option>Brands</option>
                                <option>Brands</option>
                                <option>Brands</option>
                                <option>Brands</option>
                            </select>
                        </div>
                        <div class="form-group"></div>
                    </div>



                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive padding-top-45 padding-bottom-45">
                        <table class="table table-bordered table-hover bg-white-only">
                            <tr>
                                <td>Supply Name</td>
                                <td>Contact Person</td>
                                <td>Contact Number</td>
                                <td>Brands to Supply</td>
                                <td>Action</td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-xs" ng-click="addUser()">EDIT</button>
                                    <button class="btn btn-primary btn-xs" ng-click="addUser()">DELETE</button>
                                </td>

                            </tr>
                        </table>

                    </div></div>
            </div>
        </section>
    </div>
</div>