<div class="row" ng-controller="pharmacyMedicineTypesCtrl">
    <div class="col-lg-5">
        <input type="text" id="filter" class="form-control"  placeholder="Search" >
    </div>
    <div class="clearfix"></div><br>
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
        <table class="table table-striped" data-filter="#filter" class="table table-striped">
            <thead>
            <tr style="font-weight: bold">
                <th>Medicine Type</th>
            </tr>
            </thead>
            <tbody
                <tr ng-repeat="medicine_type in medicine_types track by $index">
                    <td class="v-middle">
                        <span>{{medicine_type}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>