<div class='content-wrapper' ng-init="app.settings.pagetitle = 'FrontOffice- Dashboard';  ">
    <div class="row">
        <div class="col-lg-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">FrontOffice- Dashboard</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle material-icons">expand_more</i>
                        <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                        <i class="box_close material-icons">close</i>
                    </div>
                </header>
                <div class="content-body padding-bottom-0 dashboard-sec">
                    <div class="row">
                        <div class="col-md-6"></div>

                        <div class="col-md-6 text-right">

                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="" placeholder="Patient Name">
                                </div>
                            </form>
                        </div>
                    </div>



                    <div class="row margin-top-20 fo-db-panel-parent">

                        <h4 class="padding-left-25">Token Status</h4>
                        <div class="col-md-2">
                            <div class="fo-db-panel">
                                <p><i class="fa fa-user-md"></i></p>
                                <p><span class="badge badge-success">35/55</span></p>
                                <p>Dr.Subbu</p>
                                <p><small>(Ortho)</small></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="fo-db-panel">
                                <p><i class="fa fa-user-md"></i></p>
                                <p><span class="badge badge-success">23/24</span></p>
                                <p>Dr.Subbu</p>
                                <p><small>(Gynic)</small></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="fo-db-panel">
                                <p><i class="fa fa-user-md"></i></p>
                                <p><span class="badge badge-success">8/10</span></p>
                                <p>Dr.Subbu</p>
                                <p><small>(Dental)</small></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="fo-db-panel">
                                <p><i class="fa fa-user-md"></i></p>
                                <p><span class="badge badge-success">60/60</span></p>
                                <p>Dr.Subbu</p>
                                <p><small>(Ortho)</small></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="fo-db-panel">
                                <p><i class="fa fa-user-md"></i></p>
                                <p><span class="badge badge-success">18/20</span></p>
                                <p>Dr.Subbu</p>
                                <p><small>(Ortho)</small></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="fo-db-panel">
                                <p><i class="fa fa-user-md"></i></p>
                                <p><span class="badge badge-success">28/30</span></p>
                                <p>Dr.Subbu</p>
                                <p><small>(Ortho)</small></p>
                            </div>
                        </div>

                    </div>

                    <hr>
                    <div class="row margin-top-30">
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6 margin-bottom-30">
                            <div class="tile-counter bg-primary margin-bottom-0">
                                <div class="content">
                                    <i class='fa fa-user icon-lg'></i>
                                    <div class="clearfix"></div>
                                    <span>New Patient Reg.</span>
                                </div>
                                <div class="bg-primary-dark text-center margin-top-10">
                                    10 Patients
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-book icon-lg'></i>
                                    <div class="clearfix"></div>
                                    <span>Appointment</span>
                                </div>
                                <div class="bg-primary-dark text-center margin-top-10">
                                    5 Appointments
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-plus-square icon-lg'></i>
                                    <div class="clearfix"></div>
                                    <span>Admission Ward</span>
                                </div>
                                <div class="bg-primary-dark text-center margin-top-10">
                                    6 Admissions
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-medkit icon-lg'></i>
                                    <div class="clearfix"></div>
                                    <span>Emer/OT Booking</span>
                                </div>
                                <div class="bg-primary-dark text-center margin-top-10">
                                    3 Booking
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-flask icon-lg'></i>
                                    <div class="clearfix"></div>
                                    <span>Lab Requests</span>
                                </div>
                                <div class="bg-primary-dark text-center margin-top-10">
                                    5 New Requests
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-user-md icon-lg'></i>
                                    <div class="clearfix"></div>
                                    <span>Doctor Schedule</span>
                                </div>
                                <div class="bg-primary-dark text-center margin-top-10">
                                    5 Doctors
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-plus-square icon-lg'></i>
                                    <div class="clearfix"></div>
                                    <span>My HR</span>
                                </div>
                                <div class="bg-primary-dark text-center margin-top-10">
                                    HR Details
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-credit-card icon-lg'></i>
                                    <div class="clearfix"></div>
                                    <span>Payment Desk</span>
                                </div>
                                <div class="bg-primary-dark text-center margin-top-10">
                                    Payment
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-phone icon-lg'></i>
                                    <div class="clearfix"></div>
                                    <span>Call Register</span>
                                </div>
                                <div class="bg-primary-dark text-center margin-top-10">
                                    Call Register
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-plus-square icon-lg'></i>
                                    <div class="clearfix"></div>
                                    <span>Reports</span>
                                </div>
                                <div class="bg-primary-dark text-center margin-top-10">
                                    5 Reports
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-medkit icon-lg'></i>
                                    <div class="clearfix"></div>
                                    <span>Discharge</span>
                                </div>
                                <div class="bg-primary-dark text-center margin-top-10">
                                    2 Discharges
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
