<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Nurse Dashboard';  ">
    <div class="row">
        <div class="col-lg-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Nurse- Dashboard</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle material-icons">expand_more</i>
                        <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                        <i class="box_close material-icons">close</i>
                    </div>
                </header>
                <div class="content-body padding-bottom-0 dashboard-sec">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group" inputgroup="">
                                <select class="form-control ">
                                    <option value="Default Select">Select Floor</option>
                                    <option value="Option 1">Floor 1</option>
                                    <option value="Option 2">Floor 2</option>
                                    <option value="Option 3">Floor 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-7">&nbsp;</div>
                        <div class="col-md-2 text-right">
                            <div class="btn-group btn-group-justified">
                                <a type="button" class="btn btn-primary" title="Drug Request"><span class="flaticon-two-color-pill"></span></a>
                                <a type="button" class="btn btn-primary" title="Lab Request"><span class="flaticon-test-tubes"></span></a>
                                <a type="button" class="btn btn-primary" title="My Patients"><span class="flaticon-silhouette-on-wheelchair"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-30">
                        <table class="table table-bordered timespan table-ft">
                            <thead>
                                <tr>
                                    <th width="3%">Bed</th>
                                    <th width="14%">Patient Name</th>
                                    <th width="3%"><a href=""><i class="fa fa-arrow-left"></i></a></th>
                                    <th width="9%"><span class="spanpos">8AM</span></th>
                                    <th><span class="spanpos">9AM</span></th>
                                    <th><span class="spanpos">10AM</span></th>
                                    <th width="8%"><span class="spanpos">11AM</span></th>
                                    <th><span class="spanpos">12AM</span></th>
                                    <th><span class="spanpos">1PM</span></th>
                                    <th width="9%"><span class="spanpos">2PM</span></th>
                                    <th width="3%"><a href=""><i class="fa fa-arrow-right"></i></a></th>
                                    <th width="15%">Actions</th>
                                    <th>Alerts</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>102</td>
                                    <td class="cur-poi">
                                        Guru G, 28,
                                        <br> DOJ: 11/5/2015
                                        <br> Dr. Bhushan
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>
                                        <div><i class="fa fa-check"></i> Calpol</div>
                                        <div><a href="" ng-click=openvitals()>Vitals</a></div>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><a href="">Tab/Injection</a></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><i class="fa fa-check"></i> Neubl</td>
                                    <td>&nbsp;</td>
                                    <td>

                                        <a type="button" class="btn btn-default btn-sm btn-fsm" ng-click="drugrequest('lg')" title="Drug Request">
                                            <span class="flaticon-two-color-pill"></span></a>

                                        <a type="button" class="btn btn-default btn-sm btn-fsm" ng-click="labrequest('lg')" title="Lab Request">

                                            <span class="flaticon-test-tubes"></span>

                                        </a>




                                    </td>
                                    <td><a href="#">2Reports Ready</a></td>
                                </tr>
                                <tr>
                                    <td>102</td>
                                    <td class="bg-danger cur-poi">

                                        Guru G, 28,
                                        <br> DOJ: 11/5/2015
                                        <br> Dr. Bhushan
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>
                                        <div><i class="fa fa-check"></i> Calpol</div>
                                        <div><a href="" ng-click=openvitals()>Vitals</a></div>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><a href="" ng-click=opentablet()><span class="badge badge-danger">Tab/Injection</span></a>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><i class="fa fa-check"></i> Neubl</td>
                                    <td>&nbsp;</td>
                                    <td>

                                        <a type="button" class="btn btn-default btn-sm btn-fsm" ng-click="drugrequest('lg')" title="Drug Request">
                                            <span class="flaticon-two-color-pill"></span></a>

                                        <a type="button" class="btn btn-default btn-sm btn-fsm" ng-click="labrequest('lg')" title="Lab Request">

                                            <span class="flaticon-test-tubes"></span>

                                        </a>




                                    </td>
                                    <td><a href="#">Drugs Ready</a></td>
                                </tr>
                                <tr>
                                    <td>102</td>
                                    <td class="cur-poi">
                                        Guru G, 28,
                                        <br> DOJ: 11/5/2015
                                        <br> Dr. Bhushan
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>
                                        <div><i class="fa fa-check"></i> Calpol</div>
                                        <div><a href="" ng-click=openvitals()>Vitals</a></div>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><a href="">Tab/Injection</a></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><i class="fa fa-check"></i> Neubl</td>
                                    <td>&nbsp;</td>
                                    <td>

                                        <a type="button" class="btn btn-default btn-sm btn-fsm" ng-click="drugrequest('lg')" title="Drug Request">
                                            <span class="flaticon-two-color-pill"></span></a>

                                        <a type="button" class="btn btn-default btn-sm btn-fsm" ng-click="labrequest('lg')" title="Lab Request">

                                            <span class="flaticon-test-tubes"></span>

                                        </a>




                                    </td>
                                    <td><a href="#">Lorem ipsum</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
