<div class="content-wrapper" ng-init="app.settings.pagetitle = 'Roaster';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">{{app.settings.pagetitle}}</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" class="form-control" value="Doctor Duty Roaster">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <select class="form-control">
                                <option value="Select Title">Doctor</option>
                                <option value="Mr">Nurse</option>
                                <option value="Mr">Staff</option>
                                <option value="Mr">Driver</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1"></div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <select class="form-control">
                                <option value="Select Title">Value-1</option>
                                <option value="Mr">Value-2</option>
                                <option value="Mr">Value-3</option>
                                <option value="Mr">Value-4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Resources</h4>



                        <select multiple class="form-control min-ht-200">
                            <option>Doctor-11</option>
                            <option>Doctor-12</option>
                            <option>Doctor-13</option>
                            <option>Doctor-14</option>
                            <option>Doctor-15</option>
                            <option>Doctor-16</option>
                            <option>Doctor-17</option>
                            <option>Doctor-18</option>
                            <option>Doctor-19</option>
                            <option>Doctor-20</option>


                        </select>
                    </div>
                    <div class="col-md-1 margin-top-120">
                        <h2><a href="#"><i class="fa fa-plus-square"></i></a></h2>
                    </div>
                    <div class="col-md-3">
                        <h4>Departments</h4>



                        <select multiple class="form-control min-ht-200">
                            <option>Depart-11</option>
                            <option>Depart-12</option>
                            <option>Depart-13</option>
                            <option>Depart-14</option>
                            <option>Depart-15</option>
                            <option>Depart-16</option>
                            <option>Depart-17</option>
                            <option>Depart-18</option>
                            <option>Depart-19</option>
                            <option>Depart-20</option>


                        </select>
                    </div>
                    <div class="col-md-1 margin-top-120">
                        <h2><a href="#"><i class="fa fa-arrow-right"></i></a></h2>
                    </div>
                    <div class="col-md-4">
                        <h4>Result</h4>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">Doctor-4</span> Depart-1
                            </li>
                            <li class="list-group-item">
                                <span class="badge">Doctor-2</span> Depart-3
                            </li>
                            <li class="list-group-item">
                                <span class="badge">Doctor-1</span> Depart-5
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <select class="form-control">
                            <option value="Select Title">Shifts</option>
                            <option value="Mr">3Shift (6am,2pm,10pm) </option>
                            <option value="Mr">2Shift (6am,6pm) </option>
                            <option value="Mr">Full Day Shift (6am) </option>
                        </select>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <div class="input-group">
                            &nbsp;
                        </div>

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 text-right">
                        <button class="btn btn-primary">Create Roaster</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">Duty Doctor's Roaster - 1st Mar to 15 March 2016</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-ft">
                            <thead>
                                <tr>
                                    <th>Dep</th>
                                    <th>Time</th>
                                    <th width="3%"><a href=""><i class="fa fa-arrow-left"></i></a></th>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                    <th>Sun</th>
                                    <th width="3%"><a href=""><i class="fa fa-arrow-right"></i></a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="3">Dept-1</td>
                                    <td>2pm-8pm</td>
                                    <td rowspan="20">&nbsp;</td>
                                    <td>Guru</td>
                                    <td>Guru</td>
                                    <td>Guru</td>
                                    <td>Guru</td>
                                    <td>Guru</td>
                                    <td rowspan="20">
                                        <div>Gulam
                                            <br> 9am to 12pm </div>
                                        <hr>
                                        <div>12pm- 3pm
                                            <br> ( on call) </div>
                                        <hr>
                                        <div>3pm- 5pm
                                            <br> ( on call) </div>
                                        <hr>
                                        <div>5pm- 10pm
                                            <br> ( on call) </div>
                                        <hr>

                                    </td>
                                    <td rowspan="20">
                                        <div>Gulam
                                            <br> 9am to 12pm </div>
                                        <hr>
                                        <div>12pm- 3pm
                                            <br> ( on call) </div>
                                        <hr>
                                        <div>3pm- 5pm
                                            <br> ( on call) </div>
                                        <hr>
                                        <div>5pm- 10pm
                                            <br> ( on call) </div>
                                        <hr>

                                    </td>
                                    <td rowspan="20">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>8pm-2am</td>

                                    <td>Ravi</td>
                                    <td>Ravi</td>
                                    <td>Ravi</td>
                                    <td>Ravi</td>
                                    <td>Ravi</td>


                                </tr>
                                <tr>
                                    <td>8am-2pm</td>

                                    <td>John</td>
                                    <td>John</td>
                                    <td>John</td>
                                    <td>John</td>
                                    <td>John</td>


                                </tr>

                                <tr>
                                    <td rowspan="3">Dept-2</td>
                                    <td>2pm-8pm</td>

                                    <td>Guru</td>
                                    <td>Guru</td>
                                    <td>Guru</td>
                                    <td>Guru</td>
                                    <td>Guru</td>

                                </tr>
                                <tr>
                                    <td>8pm-2am</td>

                                    <td>Ravi</td>
                                    <td>Ravi</td>
                                    <td>Ravi</td>
                                    <td>Ravi</td>
                                    <td>Ravi</td>


                                </tr>
                                <tr>
                                    <td>8am-2pm</td>

                                    <td>John</td>
                                    <td>John</td>
                                    <td>John</td>
                                    <td>John</td>
                                    <td>John</td>


                                </tr>
                                <tr>
                                    <td rowspan="3">Dept-3</td>
                                    <td>2pm-8pm</td>

                                    <td>Guru</td>
                                    <td>Guru</td>
                                    <td>Guru</td>
                                    <td>Guru</td>
                                    <td>Guru</td>

                                </tr>
                                <tr>
                                    <td>8pm-2am</td>

                                    <td>Ravi</td>
                                    <td>Ravi</td>
                                    <td>Ravi</td>
                                    <td>Ravi</td>
                                    <td>Ravi</td>


                                </tr>
                                <tr>
                                    <td>8am-2pm</td>

                                    <td>John</td>
                                    <td>John</td>
                                    <td>John</td>
                                    <td>John</td>
                                    <td>John</td>


                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12 text-right">

                        <button class="btn btn-primary">Print</button>
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
