<div class="content-wrapper">
    <div class="col-lg-12" ng-controller="pharmacyStockAlertsCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">End of Stock</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12">
            Below list of medicine are near for closure
                        </div>
                    </div>
                </div>
        </section>
    </div>
</div>