<div class="content-wrapper" ng-init="app.settings.pagetitle = 'Add Operation Details';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">{{app.settings.pagetitle}}</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Patient Info</h4>
                    </div>
                </div>
                <hr class="hrheading">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5"><strong>Patient ID</strong></div>
                            <div class="col-md-7"><span>2525412</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong>Mobile</strong></div>
                            <div class="col-md-7">9246369697</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong>Aadhar </strong></div>
                            <div class="col-md-7">052852255856</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5"><strong>First Name</strong></div>
                            <div class="col-md-7">Kishore</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong>Age</strong></div>
                            <div class="col-md-7">48</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong>Gender</strong></div>
                            <div class="col-md-7">Male</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5"><strong>Last Name</strong></div>
                            <div class="col-md-7">Varma</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong>Blood Group</strong></div>
                            <div class="col-md-7">B+</div>
                        </div>
                    </div>
                </div>
                
                <div class="row margin-top-20">
                    <div class="col-md-12">
                        <h4>Operation Details</h4>
                    </div>
                </div>
                <hr class="hrheading">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" placeholder="OP Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <textarea placeholder="Procedure"  cols="10" class="form-control"></textarea>
                            </div>
                        </div>
                         <div class="form-group">
                            <div class="controls">
                                <textarea placeholder="Risks"  cols="10" class="form-control"></textarea>
                            </div>
                        </div>
                         <div class="form-group">
                            <div class="controls">
                                <textarea placeholder="Existing Diseases"  cols="10" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="controls">
                                <textarea placeholder="Diag Summary"  cols="10" class="form-control"></textarea>
                            </div>
                        </div>

                         <div class="form-group">
                            <div class="controls">
                                <textarea placeholder="Post Operation Notes"  cols="10" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1">
                        &nbsp;
                    </div>
                    <div class="col-md-5">


                        <div class="form-group">
                            <div class="controls">
                                <textarea placeholder="Transfer Note"  cols="10" class="form-control"></textarea>
                            </div>
                        </div>

                         <div class="form-group">
                            <div class="controls">
                                <textarea placeholder="Used Drugs"  cols="10" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="controls">
                                <textarea placeholder="Treatment Given"  cols="10" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="controls">
                                <textarea placeholder="Advise"  cols="10" class="form-control"></textarea>
                            </div>
                        </div>

                         <div class="input-group">
                                        <select class="form-control">
                                            <option>Attended Nurses</option>
                                            <option>Nurse-1</option>
                                             <option>Nurse-2</option>
                                        </select>
                                    </div>


                                     <div class="input-group">
                                        <select class="form-control">
                                            <option>Doctors</option>
                                            <option>Dr1</option>
                                             <option>Dr2</option>
                                        </select>
                                    </div>



                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <div class="">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="submit" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>