<div class="content-wrapper" ng-init="app.settings.pagetitle = 'Bed Occupancy';" ng-controller="bed-occupancyCtrl">
    <div class="col-lg-12" ng-controller="ModalDemoCtrl">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">{{app.settings.pagetitle}}</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table text-center table-bed-occupancy">
                            <thead>
                                <tr>
                                    <th class="text-center">Type</th>
                                    <th class="text-center">Floor-1</th>
                                    <th class="text-center">Floor-2</th>
                                    <th class="text-center">Floor-3</th>
                                    <th class="text-center">Floor-4</th>
                                    <th class="text-center">Floor-5</th>
                                    <th class="text-center price-pack recommended">Total: Avilable</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="warning">
                                    <th scope="row" class="text-center" width="20%">
                                        <h4>Casuality</h4>
                                        <p>&#8377; 1000</p>
                                    </th>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-corner">6/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning btn-corner">5/5</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-default btn-corner" disabled>NA</button>
                                    </td>
                                     <td class="price-pack recommended">
                                        <span class="badge badge-info span_total">6</span>
                                    </td>
                                </tr>
                                <tr class="warning">
                                    <th scope="row" class="text-center">
                                        <h4>O.T</h4>
                                        <p>&#8377; 800</p>
                                    </th>
                                    <td>
                                        <button class="btn btn-default btn-corner" disabled>NA</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-corner">6/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning btn-corner">5/5</button>
                                    </td>
                                    <td class="price-pack recommended">
                                        <span class="badge badge-info span_total">6</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center" width="20%">
                                        <h4>ICU</h4>
                                        <p>&#8377; 700</p>
                                    </th>
                                    <td>
                                        <button class="btn btn-warning btn-corner">5/5</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-corner">6/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-default btn-corner" disabled>NA</button>
                                    </td>
                                   <td class="price-pack recommended">
                                        <span class="badge badge-info span_total">6</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">
                                        <h4>NICU</h4>
                                        <p>&#8377; 700</p>
                                    </th>
                                    <td>
                                        <button class="btn btn-default btn-corner" disabled>NA</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-corner">6/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning btn-corner">5/5</button>
                                    </td>
                                    <td class="price-pack recommended">
                                        <span class="badge badge-info span_total">6</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center" width="20%">
                                        <h4>ICCU</h4>
                                        <p>&#8377; 400</p>
                                    </th>
                                    <td>
                                        <button class="btn btn-danger btn-corner">6/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning btn-corner">5/5</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-default btn-corner" disabled>NA</button>
                                    </td>

                                    <td class="price-pack recommended">
                                        <span class="badge badge-info span_total">6</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">
                                        <h4>General</h4>
                                        <p>&#8377; 300</p>
                                    </th>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-default btn-corner" disabled>NA</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-corner">6/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning btn-corner">5/5</button>
                                    </td>

                                    <td class="price-pack recommended">
                                        <span class="badge badge-info span_total">6</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center" width="20%">
                                        <h4>A/C</h4>
                                        <p>&#8377; 900</p>
                                    </th>
                                    <td>
                                        <button class="btn btn-warning btn-corner">5/5</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-corner">6/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-default btn-corner" disabled>NA</button>
                                    </td>
                                    <td class="price-pack recommended">
                                        <span class="badge badge-info span_total">6</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">
                                        <h4>Deluxe Sharing</h4>
                                        <p>&#8377; 1100</p>
                                    </th>
                                    <td>
                                        <button class="btn btn-default btn-corner" disabled>NA</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-corner">6/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning btn-corner">5/5</button>
                                    </td>
                                    <td class="price-pack recommended">
                                        <span class="badge badge-info span_total">6</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">
                                        <h4>Deluxe Single</h4>
                                        <p>&#8377; 900</p>
                                    </th>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-default btn-corner" disabled>NA</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-corner">6/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning btn-corner">5/5</button>
                                    </td>
                                   <td class="price-pack recommended">
                                        <span class="badge badge-info span_total">6</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center" width="20%">
                                        <h4>SD.Sharing</h4>
                                        <p>&#8377; 1000</p>
                                    </th>
                                    <td>
                                        <button class="btn btn-danger  btn-corner">6/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning btn-corner">5/5</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-default btn-corner" disabled>NA</button>
                                    </td>
                                    <td class="price-pack recommended">
                                        <span class="badge badge-info span_total">6</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">
                                        <h4>SD.Single</h4>
                                        <p>&#8377; 1100</p>
                                    </th>
                                    <td>
                                        <button class="btn btn-warning btn-corner">5/5</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-default btn-corner" disabled>NA</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-corner">6/6</button>
                                    </td>
                                   <td class="price-pack recommended">
                                        <span class="badge badge-info span_total">6</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center" width="20%">
                                        <h4>V.I.P</h4>
                                        <p>&#8377; 1500</p>
                                    </th>
                                    <td>
                                        <button class="btn btn-default btn-corner" disabled>NA</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-corner">6/6</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning btn-corner">5/5</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success btn-corner">3/6</button>
                                    </td>
                                    <td class="price-pack recommended">
                                        <span class="badge badge-info span_total">6</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered text-center table-bed-occupancy">
                            <thead>
                                <tr>
                                    <th class="text-center">Floor</th>
                                    <th class="text-center">Room</th>
                                    <th class="text-center">Ward Type</th>
                                    <th class="text-center">Patient Name</th>
                                    <th class="text-center">Bed Status</th>
                                    <th class="text-left" width="15%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="text-center">
                                        <h4>3</h4>
                                    </th>
                                    <td>5
                                    </td>
                                    <td>Deluxe Sharing
                                    </td>
                                    <td> John Deo
                                    </td>
                                    <td> Ready
                                    </td>
                                    <td class="text-left">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12 col-sm-12 btn-texticons" ng-controller="DropdownDemoCtrl">
                                                <div class="btn-group" uib-dropdown>
                                                    <button type="button" class="btn btn-primary">Action</button>
                                                    <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Split button!</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="" ng-click="openbop()">Chekin</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">
                                        <h4>4</h4>
                                    </th>
                                    <td>2
                                    </td>
                                    <td>ICU
                                    </td>
                                    <td> William Richard
                                    </td>
                                    <td> Allocated
                                    </td>
                                    <td class="text-left">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12 col-sm-12 btn-texticons" ng-controller="DropdownDemoCtrl">
                                                <div class="btn-group" uib-dropdown>
                                                    <button type="button" class="btn btn-primary">Action</button>
                                                    <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Split button!</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href ng-click="opencmts()">Discharge</a></li>
                                                        <li><a href ng-click="opencmts()">Transfer</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">
                                        <h4>5</h4>
                                    </th>
                                    <td>3
                                    </td>
                                    <td>A/C
                                    </td>
                                    <td> Kiran
                                    </td>
                                    <td> Discharge
                                    </td>
                                    <td class="text-left">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12 col-sm-12 btn-texticons" ng-controller="DropdownDemoCtrl">
                                                <div class="btn-group" uib-dropdown>
                                                    <button type="button" class="btn btn-primary">Action</button>
                                                    <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Split button!</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">Clean</a></li>
                                                        <li><a href="#">Maintenance</a></li>
                                                        <li><a href="#">Ready</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">
                                        <h4>4</h4>
                                    </th>
                                    <td>2
                                    </td>
                                    <td>NICU
                                    </td>
                                    <td> Gopi Varma
                                    </td>
                                    <td> Maintenance
                                    </td>
                                    <td class="text-left">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12 col-sm-12 btn-texticons" ng-controller="DropdownDemoCtrl">
                                                <div class="btn-group" uib-dropdown>
                                                    <button type="button" class="btn btn-primary">Action</button>
                                                    <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Split button!</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">Ready</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">
                                        <h4>5</h4>
                                    </th>
                                    <td>1
                                    </td>
                                    <td>NICU
                                    </td>
                                    <td> Prakash Singh
                                    </td>
                                    <td> Clean
                                    </td>
                                    <td class="text-left">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12 col-sm-12 btn-texticons" ng-controller="DropdownDemoCtrl">
                                                <div class="btn-group" uib-dropdown>
                                                    <button type="button" class="btn btn-primary">Action</button>
                                                    <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Split button!</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">Maintenance</a></li>
                                                        <li><a href="#">Ready</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
