<div class="content-wrapper" ng-init="app.settings.pagetitle = 'Case Sheet';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">{{app.settings.pagetitle}}</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Patient Info</h4>
                    </div>
                </div>
                <hr class="hrheading">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5"><strong>Patient ID</strong></div>
                            <div class="col-md-7"><span>2525412</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong>Mobile</strong></div>
                            <div class="col-md-7">9246369697</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong>Aadhar </strong></div>
                            <div class="col-md-7">052852255856</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5"><strong>First Name</strong></div>
                            <div class="col-md-7">Kishore</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong>Age</strong></div>
                            <div class="col-md-7">48</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong>Gender</strong></div>
                            <div class="col-md-7">Male</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5"><strong>Last Name</strong></div>
                            <div class="col-md-7">Varma</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong>Blood Group</strong></div>
                            <div class="col-md-7">B+</div>
                        </div>
                    </div>
                </div>

                <div class="row margin-top-20">
                    <div class="col-md-12">
                        <h4>Operation Details</h4>
                    </div>
                </div>
                <hr class="hrheading">
                <div class="row">



                    <div class="col-md-8">
                        <div class="panel panel-default">

                            <div class="panel-body min-ht-100">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5"><strong>D.O.A</strong></div>
                                            <div class="col-md-7"><span>12-Oct-2015 7:10AM</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5"><strong>Opr Name</strong></div>
                                            <div class="col-md-7">ASTALEVISTA</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5"><strong>Operated On</strong></div>
                                            <div class="col-md-7">12-Oct-2015 5:00AM</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5"><strong>Opr Dur</strong></div>
                                            <div class="col-md-7">45 Mnts</div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="col-md-4">


                        <div class="panel panel-default">

                            <div class="panel-body min-ht-100">

                                <div class="row">
                                    <div class="col-md-5"><strong>Allergies</strong></div>
                                    <div class="col-md-7">Xyz Tablet, Banana</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row margin-top-30">
                    <div class="col-md-12">
                        <h4>Tabs Heading</h4>
                        <div ng-controller="TabsDemoCtrl">
                            <uib-tabset justified="true" class="tab-container primary">
                                <uib-tab>
                                    <uib-tab-heading>
                                        Problem
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-3"><strong>Complaints</strong></div>
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-md-5">Fever</div>
                                                <div class="col-md-7">3 Days</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">Cold</div>
                                                <div class="col-md-7">3 Days</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">Unable to Eat</div>
                                                <div class="col-md-7">1 Day</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">Unable to Walk</div>
                                                <div class="col-md-7">1 Day</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">&nbsp;</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3"><strong>Details1</strong></div>
                                        <div class="col-md-9">Abnormal behaviour noticed, observed high tempature during night time,no good intake stince 2days.
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3"><strong>Details2</strong></div>
                                        <div class="col-md-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, dolorum magnam, ut quis veritatis voluptas numquam, voluptatibus ipsam consequatur nostrum praesentium dolorem tempore corporis dignissimos laborum! Mollitia vitae, error recusandae.
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        Surgery
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Diagnosis</h3>
                                                </div>
                                                <div class="panel-body min-ht-150">
                                                    Similique neque eveniet suscipit magnam nam minima dignissimos expedita natus illum totam ipsa, velit nobis eaque doloremque, quibusdam voluptates.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Operation Detail</h3>
                                                </div>
                                                <div class="panel-body min-ht-150">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates repellendus nesciunt facere, soluta necessitatibus similique, non incidunt molestias voluptate tempore provident sequi ad dolorum sunt asperiores ipsum. Obcaecati, harum, adipisci!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Investigation Detail</h3>
                                                </div>
                                                <div class="panel-body min-ht-150">
                                                    Pariatur optio corporis blanditiis perferendis voluptates!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Treatment Given</h3>
                                                </div>
                                                <div class="panel-body min-ht-150">
                                                    Voluptates aut animi maiores quidem non nam ea accusantium, quo modi sapiente illum itaque culpa laborum. Dolores officia fuga nesciunt.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        Vital Signs
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div ng-controller="TabsDemoCtrl">
                                                <uib-tabset vertical="true" type="pills" class="tab-container vertical  custom-vertical-tabs">
                                                    <uib-tab>
                                                        <uib-tab-heading>
                                                            Blood Pressure
                                                        </uib-tab-heading>
                                                        <div class="row">

                                                            <div class="col-md-3 text-right">

                                                                <label>View As:</label>&nbsp;&nbsp;

                                                                <a href="#">Graph</a> | <a href="#">List</a>


                                                            </div>
                                                            <div class="col-md-3 text-right">
                                                                <a href="#" ng-click="addMeasure()"><i class="fa fa-plus"></i>  Add Measure</a>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="row">




                                                                    <div class="col-md-6 text-right">
                                                                        <div class="radio margin-top-0">
                                                                            <label class="icheck">
                                                                                <input type="radio" value="" name="opt1">
                                                                                <i class="text-left"></i> Blood Pressure
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="radio margin-top-0">
                                                                            <label class="icheck">
                                                                                <input type="radio" value="" name="opt1">
                                                                                <i></i> Normal Pressure
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row margin-top-20">
                                                            <div class="col-md-2"></div>
                                                            <div class="col-md-8">
                                                                <div ng-controller='MorrisCtrl'>
                                                                    <div line-chart line-data='[
                    { y: "2006", a: 100, b: 90 },
                    { y: "2007", a: 175,  b: 115 },
                    { y: "2008", a: 150,  b: 40 },
                    { y: "2009", a: 175,  b: 165 },
                    { y: "2010", a: 150,  b: 100 },
                    { y: "2011", a: 75,  b: 165 },
                    { y: "2012", a: 100, b: 190 }
                ]' line-xkey='["y"]' line-ykeys='["a", "b"]' line-labels='["Serie A", "Serie B"]' line-colors='["#673AB7", "#FF6E40"]'>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2"></div>
                                                        </div>
                                                    </uib-tab>
                                                    <uib-tab>
                                                        <uib-tab-heading>
                                                            Heart Beat
                                                        </uib-tab-heading>
                                                        <h5>Heart Beat</h5>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis corporis cum ducimus totam itaque iure voluptatem labore nulla expedita dolorum. Id assumenda voluptatibus excepturi, quas at rerum repellat illo esse!</p>
                                                    </uib-tab>
                                                    <uib-tab>
                                                        <uib-tab-heading>
                                                            Weight
                                                        </uib-tab-heading>
                                                        <h5>Weight</h5>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis corporis cum ducimus totam itaque iure voluptatem labore nulla expedita dolorum. Id assumenda voluptatibus excepturi, quas at rerum repellat illo esse!</p>
                                                    </uib-tab>
                                                    <uib-tab>
                                                        <uib-tab-heading>
                                                            Temp
                                                        </uib-tab-heading>
                                                        <h5>Temp</h5>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis corporis cum ducimus totam itaque iure voluptatem labore nulla expedita dolorum. Id assumenda voluptatibus excepturi, quas at rerum repellat illo esse!</p>
                                                    </uib-tab>
                                                    <uib-tab>
                                                        <uib-tab-heading>
                                                            BMI
                                                        </uib-tab-heading>
                                                        <h5>BMI</h5>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis corporis cum ducimus totam itaque iure voluptatem labore nulla expedita dolorum. Id assumenda voluptatibus excepturi, quas at rerum repellat illo esse!</p>
                                                    </uib-tab>
                                                </uib-tabset>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        Medications
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Medication</th>
                                                        <th>Form</th>
                                                        <th>Dose Unit</th>
                                                        <th>Freq</th>
                                                        <th>Qty</th>
                                                        <th>No.Of Days</th>
                                                        <th>Direction</th>
                                                        <th>Advice</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Calpol</td>
                                                        <td>Tab</td>
                                                        <td>1 Tab</td>
                                                        <td>Daily Twice</td>
                                                        <td>10</td>
                                                        <td>5</td>
                                                        <td>Morning, Evening</td>
                                                        <td>Take rest</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Calpol</td>
                                                        <td>Tab</td>
                                                        <td>1 Tab</td>
                                                        <td>Daily Twice</td>
                                                        <td>10</td>
                                                        <td>5</td>
                                                        <td>Morning, Evening</td>
                                                        <td>Take rest</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Calpol</td>
                                                        <td>Tab</td>
                                                        <td>1 Tab</td>
                                                        <td>Daily Twice</td>
                                                        <td>10</td>
                                                        <td>5</td>
                                                        <td>Morning, Evening</td>
                                                        <td>Take rest</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Calpol</td>
                                                        <td>Tab</td>
                                                        <td>1 Tab</td>
                                                        <td>Daily Twice</td>
                                                        <td>10</td>
                                                        <td>5</td>
                                                        <td>Morning, Evening</td>
                                                        <td>Take rest</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        Labs
                                    </uib-tab-heading>
                                    <p>Labs</p>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        Visit
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div ng-controller="AccordionDemoCtrl" class='collapsed accordion'>
                                                <uib-accordion close-others="oneAtATime">
                                                    <uib-accordion-group is-open="status.isFirstOpen">
                                                        <uib-accordion-heading>
                                                            All Consults <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                                        </uib-accordion-heading>
                                                        <div class="list-group">
                                                            <a href="#" class="list-group-item active">
    Oct 18,04 [P] Cardio
  </a>
                                                            <a href="#" class="list-group-item">Aug 17,04 [P] Dental</a>
                                                            <a href="#" class="list-group-item">Aug 30,04 [P] Ortho</a>
                                                            <a href="#" class="list-group-item">Sep 05,04 [P] Lorem</a>
                                                            <a href="#" class="list-group-item">Oct 05,04 [P] Ipsum</a>
                                                        </div>
                                                    </uib-accordion-group>
                                                </uib-accordion>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-5"><strong>Current PC Team</strong></div>
                                                <div class="col-md-7"><span>Gold Team</span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5"><strong>Current Pat. Status</strong></div>
                                                <div class="col-md-7">Out Patient</div>
                                            </div>
                                            <hr>
                                            <h4>Order Information</h4>
                                            <div class="row">
                                                <div class="col-md-5"><strong>lorem</strong></div>
                                                <div class="col-md-7">Quibusdam error nemo</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5"><strong>Repellat sit</strong></div>
                                                <div class="col-md-7">Repudiandae doloribus ut voluptatum maiores incidunt minus provident!</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5"><strong>Amet, consectetur</strong></div>
                                                <div class="col-md-7">Adipisicing elit</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5"><strong>Ipsum</strong></div>
                                                <div class="col-md-7">Doloribus ut </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        NurseNotes
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div ng-controller="AccordionDemoCtrl" class='collapsed accordion'>
                                                <uib-accordion close-others="oneAtATime">
                                                    <uib-accordion-group is-open="status.isFirstOpen">
                                                        <uib-accordion-heading>
                                                            All Consults <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                                        </uib-accordion-heading>
                                                        <div class="list-group">
                                                            <a href="#" class="list-group-item active">
    Oct 18,04 [P] Cardio
  </a>
                                                            <a href="#" class="list-group-item">Aug 17,04 [P] Dental</a>
                                                            <a href="#" class="list-group-item">Aug 30,04 [P] Ortho</a>
                                                            <a href="#" class="list-group-item">Sep 05,04 [P] Lorem</a>
                                                            <a href="#" class="list-group-item">Oct 05,04 [P] Ipsum</a>
                                                        </div>
                                                    </uib-accordion-group>
                                                </uib-accordion>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-5"><strong>Current PC Team</strong></div>
                                                <div class="col-md-7"><span>Gold Team</span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5"><strong>Current Pat. Status</strong></div>
                                                <div class="col-md-7">Out Patient</div>
                                            </div>
                                            <hr>
                                            <h4>Lorem Ipsum</h4>
                                            <div class="row">
                                                <div class="col-md-5"><strong>lorem</strong></div>
                                                <div class="col-md-7">Quibusdam error nemo</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5"><strong>Repellat sit</strong></div>
                                                <div class="col-md-7">Repudiandae doloribus ut voluptatum maiores incidunt minus provident!</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5"><strong>Amet, consectetur</strong></div>
                                                <div class="col-md-7">Adipisicing elit</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5"><strong>Ipsum</strong></div>
                                                <div class="col-md-7">Doloribus ut </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        Billing
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Particulars</th>
                                                        <th>Days</th>
                                                        <th>Ref</th>
                                                        <th>Total in Rs</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Room Rent Deluxe</td>
                                                        <td>4</td>
                                                        <td>Hospital</td>
                                                        <td>3400.00</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Room Rent Deluxe</td>
                                                        <td>4</td>
                                                        <td>Hospital</td>
                                                        <td>3400.00</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Room Rent Deluxe</td>
                                                        <td>4</td>
                                                        <td>Hospital</td>
                                                        <td>3400.00</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Room Rent Deluxe</td>
                                                        <td>4</td>
                                                        <td>Hospital</td>
                                                        <td>3400.00</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Room Rent Deluxe</td>
                                                        <td>4</td>
                                                        <td>Hospital</td>
                                                        <td>3400.00</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Room Rent Deluxe</td>
                                                        <td>4</td>
                                                        <td>Hospital</td>
                                                        <td>3400.00</td>

                                                    </tr>
                                                    <tr>
                                                        <td colspan="3" class="text-right">Total</td>
                                                        <td>
                                                            <h4>15000.00</h4></td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
                <!-- <hr>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <div class="">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="submit" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div> -->
            </div>
        </section>
    </div>
</div>