<div class="content-wrapper" ng-init="app.settings.pagetitle = 'Inpatient Registration';" ng-controller="ipRegistrationCtrl">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Inpatient Registration</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-wizard nav-pills">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <uib-progressbar value="steps.percent" class="progress-xs primary" type="success"></uib-progressbar>
                        </div>
                        <uib-tabset class="tab-container" ng-init="steps={percent:15, step1:true, step2:false, step3:false, step4:false, step5:false, step6:false, step1stat:false, step2stat:false, step3stat:false, step4stat:false, step5stat:false,step6stat:false }">
                            <uib-tab active="steps.step1" select="steps.percent=15" class=" {{steps.step1stat ? 'complete' : ''}} ">
                                <uib-tab-heading class="tabhead">Demographics</uib-tab-heading>
                                <!--<h4 class='margin-top-30' ng-hide="">Paient ID: <span>152452</span></h4>-->
                                <div class="row margin-bottom-25">
                                    <div class="col-md-2 margin-top-5">
                                        <label for="exampleInputName2">Patient ID</label>
                                    </div>
                                    <div class="col-md-7" style="position:relative; left:-60px;">
                                        <input type="text" class="form-control" id="exampleInputName2" value="152452" disabled>
                                    </div>
                                    <div class="col-md-3 text-left">
                                        <button class="btn btn-primary" ng-click="open()">Select</button>
                                    </div>
                                </div>
                                <form name="step1" class="form-validation padding-left-0">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="patientInfo.Patients.Title" ng-options="lookup.TitleID as lookup.Title for lookup in titles">
                                                    <option value="">Title</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" placeholder="First Name" required class="form-control" ng-model="patientInfo.Patients.FirstName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" placeholder="Last Name" required class="form-control" ng-model="patientInfo.Patients.LastName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" placeholder="Mobile Number" class="form-control" ng-model="patientInfo.Patients.ContactNumber">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="patientInfo.Patients.Gender" ng-options="lookup.genderid as lookup.gender for lookup in genders">
                                                    <option value="">Gender</option>
                                                </select>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <!-- <label class="form-label" for="formfield3">Date Format</label>
                                                        <span class="desc">e.g. "2015-03-23"</span> -->
                                                        <div class="controls">
                                                            <input type="date" class="form-control" placeholder="YYYY-MM-DD" ng-model="patientInfo.Patients.DOB" ng-pattern="/[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$/">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            OR
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <input type="text" class="form-control" placeholder="Age" ng-model="patientInfo.Patients.Age">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Aadhar/Pan" ng-model="patientInfo.Patients.AdharNo">
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <select class="form-control" ng-model="patientInfo.Patients.BloodGroup" ng-options="lookup.bloodgroupid as lookup.bloodgroupname for lookup in blood_groups">
                                                    <option value="">Blood Group</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="">
                                                <button type="submit" ng-disabled="step1.$invalid" class="btn btn-primary" ng-click="steps.step2=true">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab disabled="step1.$invalid" active="steps.step2" select="steps.percent=30; steps.step1stat=true" class=" {{steps.step2stat ? 'complete' : ''}}">
                                <uib-tab-heading class="tabhead">Contact&nbsp;Info</uib-tab-heading>
                                <form name="step2" class="form-validation  col-md-12 padding-left-0">
                                    <div class="row">
                                        <div class="col-md-4">&nbsp;</div>
                                        <div class="col-md-2">
                                            <div class="radio">
                                                <label class="icheck">
                                                    <input type="radio" value="" name="opt1">
                                                    <i></i> Home
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="radio">
                                                <label class="icheck">
                                                    <input type="radio" value="" name="opt1">
                                                    <i></i> Work
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">&nbsp;</div>
                                    </div>
                                    <div class="row margin-top-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Address-1" ng-model="patientInfo.PatientContactInfo.Address1">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Address-2" ng-model="patientInfo.PatientContactInfo.Address2">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Area/Location">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="City" ng-model="patientInfo.PatientContactInfo.City">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Landmark" ng-model="patientInfo.PatientContactInfo.Landmark">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Pincode" ng-model="patientInfo.PatientContactInfo.Pincode">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Home Phone" ng-model="patientInfo.PatientContactInfo.HomePhone">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Work Phone" ng-model="patientInfo.PatientContactInfo.WorkPhone">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <button type="button" class="btn btn-primary" ng-click="steps.step1=true">Prev</button>
                                        <button type="submit" ng-disabled="step2.$invalid" class="btn btn-primary" ng-click="steps.step3=true">Next</button>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab disabled="step2.$invalid" active="steps.step3" select="steps.percent=45; steps.step2stat=true" class=" {{steps.step3stat ? 'complete' : ''}}">
                                <uib-tab-heading class="tabhead">General</uib-tab-heading>
                                <form name="step3" class="form-validation  col-md-12 padding-left-0">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Email ID" ng-model="patientInfo.Patients.Email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Occupation" ng-model="patientInfo.Patients.Occupation">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="patientInfo.Patients.MStatus " ng-options="lookup.maritalid as lookup.maritalstatus for lookup in marital_statuses">
                                                    <option value="">Maritial Status</option>

                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="file" id="exampleInputFile">
                                                <p class="help-block">Upload your profile picture</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <button type="button" class="btn btn-primary" ng-click="steps.step2=true">Prev</button>
                                        <button type="submit" ng-disabled="step3.$invalid" class="btn btn-primary" ng-click="steps.step4=true">Next</button>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab disabled="step3.$invalid" active="steps.step4" select="steps.percent=60; steps.step3stat=true" class=" {{steps.step4stat ? 'complete' : ''}}">
                                <uib-tab-heading class="tabhead">Insurance</uib-tab-heading>
                                <form name="step4" class="form-validation  col-md-12 padding-left-0">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="patientInfo.PatientInsurance.InsuranceName">
                                                    <option>Insurance Name</option>
                                                    <option>Life Insurance</option>
                                                    <option>Study Insurance</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Insurance ID">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Effective From" ng-model="patientInfo.PatientInsurance.EffictiveFrom ">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Limit" ng-model="patientInfo.PatientInsurance.Limit">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="patientInfo.Patients.GuardianRelation" ng-options="lookup.relationid as lookup.relationname for lookup in relations">
                                                    <option value="">Relation to Insured</option>

                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Company Name" ng-model="patientInfo.PatientInsurance.CompanyName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Effective To" ng-model="patientInfo.PatientInsurance.EffictiveTo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <button type="button" class="btn btn-primary" ng-click="steps.step3=true">Prev</button>
                                        <button type="submit" ng-disabled="step4.$invalid" class="btn btn-primary" ng-click="steps.step5=true">Next</button>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab disabled="step4.$invalid" active="steps.step5" select="steps.percent=75; steps.step4stat=true" class=" {{steps.step5stat ? 'complete' : ''}}">
                                <uib-tab-heading class="tabhead">Personal</uib-tab-heading>
                                <form name="step5" class="form-validation  col-md-12 padding-left-0">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Bank Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="A/C Holder Name" ng-model="patientInfo.PatientInsurance.AcctHolderName">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="IFSC Code" ng-model="patientInfo.PatientInsurance.IFSCCode">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="A/C Number" ng-model="patientInfo.PatientInsurance.AcctNumber">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <button type="button" class="btn btn-primary" ng-click="steps.step4=true">Prev</button>
                                        <button type="submit" ng-disabled="step5.$invalid" class="btn btn-primary" ng-click="steps.step6=true">Next</button>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab disabled="step5.$invalid" active="steps.step6" select="steps.percent=90; steps.step5stat=true" class=" {{steps.step6stat ? 'complete' : ''}}">
                                <uib-tab-heading class="tabhead">Emergency</uib-tab-heading>
                                <form name="step6" class="form-validation  col-md-12 padding-left-0">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Emergency Name" ng-model="patientInfo.Patients.GuardianName">
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <select class="form-control">
                                                    <option>Emergency Relation</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Emergency Contact Number" ng-model="patientInfo.Patients.GuardianContactNumber">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <button type="button" class="btn btn-primary" ng-click="steps.step5=true">Prev</button>
                                        <button type="button" class="btn btn-primary">Reg & Appointment</button>
                                        <button type="submit" ng-disabled="step6.$invalid" class="btn btn-primary" ng-click="steps.percent=100;steps.step6=true; steps.step6stat=true; savePatientInfo();">Register</button>
                                    </div>
                                </form>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
