<div class="content-wrapper" ng-init="app.settings.pagetitle = 'Quick Appointment';" ng-controller="quickAppointmentCtrl">
    <div class="col-lg-12" ng-controller="ModalDemoCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Quick Appointment - Patient Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <h3>patient Info</h3> -->
                        <form name="step1" class="form-validation padding-left-0">
                            <div class="row">
                                


                                <div class="col-md-4">
                                    <div class="row margin-bottom-25
">
                                        <div class="col-md-2 margin-top-5">
                                            <label for="exampleInputName2">ID</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="exampleInputName2" value="152452" disabled>
                                        </div>
                                        <div class="col-md-3 text-right">
                                            <button class="btn btn-default btn-sm" ng-click="open()">Select</button>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="controls">
                                            <input type="text" placeholder="Last Name" class="form-control">
                                        </div>
                                    </div>


                                       <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <!-- <label class="form-label" for="formfield3">Date Format</label>
                                <span class="desc">e.g. "2015-03-23"</span> -->
                                                <div class="controls">
                                                    <input type="date" class="form-control" placeholder="YYYY-MM-DD" ng-model="field.u" ng-pattern="/[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$/">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="controls">
                                                    OR
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="number" class="form-control" placeholder="Age">
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                 
                                </div>




                                <div class="col-md-4">
                                    <div class="input-group">
                                        <select class="form-control">
                                            <option>Select Title</option>
                                            <option>Mr</option>
                                            <option>Mrs</option>
                                        </select>
                                    </div>

                                     <div class="input-group">
                                        <select class="form-control">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>


                                 
                                    <div class="form-group">
                                        <div class="controls">
                                            <input type="text" placeholder="Mobile Number" class="form-control">
                                        </div>
                                    </div>
                                   
                                </div>



                                <div class="col-md-4">


                                    <div class="form-group">
                                        <div class="controls">
                                            <input type="text" placeholder="First Name" class="form-control">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="controls">
                                            <input type="text" class="form-control" placeholder="Aadhar/Pan">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <select class="form-control">
                                            <option>Blood Group</option>
                                            <option>A+</option>
                                            <option>A-</option>
                                            <option>B+</option>
                                            <option>B-</option>
                                        </select>
                                    </div>
                                </div>




                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="row margin-top-10">
                    
                    <div class="col-md-12">
                                <h4>Appointment</h4>
                                
                                <hr class="hrheading">
                                
                                </div>
                </div>
                
                
                <div class="row margin-top-10">
                    <div class="col-md-12">
                        <div class="row">
                           
                           
                           
                           
                           <div class="col-md-3">
                               
                               
                               <div class="radio">
                                            <label class="icheck">
                                                <input type="radio" value="" name="opt1">
                                                <i></i> Walk-in
                                            </label>
                                        </div>
                                        
                                         <div class="radio margin-top-5">
                                            <label class="icheck">
                                                <input type="radio" value="" name="opt1">
                                                <i></i> Schedule
                                            </label>
                                        </div>
                                        
                                        
                           </div>
                            <div class="col-md-4">
                                
                                <div class="input-group margin-bottom-0">
                                        <select class="form-control">
                                            <option>Select Department</option>
                                            <option>Department-1</option>
                                            <option>Department-2</option>
                                        </select>
                                    </div>
                                    
                                    
                                    
                                      <div class="input-group margin-bottom-0 margin-top-5">
                                        <select class="form-control">
                                            <option>Select Doctor</option>
                                            <option>Doctor-1</option>
                                            <option>Doctor-2</option>
                                        </select>
                                    </div>
                            </div>
                            
                            <div class="col-md-1"></div>
                             <div class="col-md-4 warning-box-radius">
                                 
                                    
                                    
                                    <div class="row">
                                <div class="col-md-7"><strong>Consultation Fee</strong></div>
                                <div class="col-md-5">&#8377; 500</div>
                            </div>
                            <div class="row">
                                <div class="col-md-7"><strong>Registration Fee</strong></div>
                                <div class="col-md-5">&#8377; 200</div>
                            </div>
                                
                           
                            
                             <div class="row">
                                <div class="col-md-7"><strong>Last Appointment On</strong></div>
                                <div class="col-md-5">20-05-2015</div>
                            </div>
                                
                           
                                
                             </div>
                            
                            
                        </div>
                      
                       
                        <div class="schedule-appointment">
                            <div class="row margin-top-30">
                                <div class="col-md-5">
                                    <div class="form-group inlinedate">
                                        <div class="controls">
                                            <div style="display:inline-block;">
                                                <uib-datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary btn-size">7:00 AM</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary btn-size">8:00 AM</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary btn-size">9:00 AM</button>
                                        </div>
                                    </div>
                                    <div class="row margin-top-5">
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary btn-size">10:00 AM</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-default btn-size" disabled>11:00 AM</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary btn-size">12:00 AM</button>
                                        </div>
                                    </div>
                                    <div class="row margin-top-5">
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary btn-size">1:00 PM</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary btn-size">2:00 PM</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary btn-size">3:00 PM</button>
                                        </div>
                                    </div>
                                    <div class="row margin-top-5">
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-default btn-size" disabled>4:00 PM</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary btn-size">5:00 PM</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-default btn-size" disabled>6:00 PM</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <div class="">
                            <button type="submit" class="btn btn-primary">Quick Appointment</button>
                            <button type="submit" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
