<div class="content-wrapper">
    <div class="col-lg-12" ng-controller="pharmacyExpiryMedicineCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Expiry Medicne</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row top15">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover invoice-table">
                                    <thead>
                                    <tr>
                                        <td>
                                            <h4>Medicine Name</h4></td>
                                        <td>
                                            <h4>Company Name</h4></td>
                                        <td>
                                            <h4>Agent Name</h4></td>
                                        <td>
                                            <h4>Agent Contact Number</h4></td>
                                        <td>
                                            <h4>Type</h4></td>
                                        <td>
                                            <h4>Quantity</h4></td>
                                        <td>
                                            <h4>Expiry Date</h4></td>
                                        <td>
                                            <h4>Days to Expiry</h4></td>
                                        <td>
                                            <h4>Rack Location</h4></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-right">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-right">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-right">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-right">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-right">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-right">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-right">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td class="text-right">
                                            <input type="text" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
</div>
                </div>
            </div>
        </section>
    </div>
</div>