<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">{{ is_new ? "Add" : "Edit"}} Medicine</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal form-validation" name="medicineForm" ng-submit="submitForm(medicineForm.$valid)" >
        <div class="form-group">
            <label>Medicine Name</label>
            <input type="text" class="form-control" ng-model = "medicine.ProductName" required>
        </div>
        <div class="form-group">
            <label>Company Name</label>
            <select class="form-control" ng-model="medicine.MfgID" ng-options="company.MfgID as company.MfgName for company in companies" required>
                <option value="">Company Name</option>
            </select>
        </div>
        <div class="form-group">
            <label>Medicine Type</label>
            <select class="form-control" ng-model="medicine.FormName" ng-options="medicine_type as medicine_type for medicine_type in medicine_types" required>
                <option value="">Medicine Type</option>
            </select>
        </div>
        <div class="form-group">
            <label>Quantity Per Unit</label>
            <input type="number" class="form-control" ng-model = "medicine.QuantityPerUnit" required>
        </div>
        <div class="form-group">
            <label>Composition</label>
            <input type="text" class="form-control" ng-model = "medicine.Composition">
        </div>
        <div class="form-group">
            <label>Schedule</label>
            <input type="text" class="form-control" ng-model = "medicine.Schedule">
        </div>
        <div class="form-group">
            <label>License Number</label>
            <input type="text" class="form-control" ng-model = "medicine.LicenceNo">
        </div>
        <div class="form-group">
            <label>Medicine Rack Locationt</label>
            <input type="text" class="form-control" ng-model = "medicine.RackLocation">
        </div>
        <div class="form-group">
            <label>Comments</label>
            <textarea class="form-control" ng-model = "medicine.Comments"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info">{{ is_new ? "Create" : "Upadate"}}</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>