<div class="row" ng-controller="pharmacyMedicinesCtrl">
    <div class="col-lg-5" ng-show="medicines_loading">
        <input type="text" id="filter" class="form-control"  placeholder="Search" >
    </div>
    <div class="col-lg-7" ng-show="medicines_loading">
        <button class="btn btn-primary btn-sm pull-right" ng-click="open()">Add Medicine</button>
    </div>
    <div class="clearfix"></div><br>
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" ng-show="medicines_loading">
        <table class="table table-striped" ui-jq="footable" data-filter="#filter" data-page-size="20" class="table table-striped">
            <thead>
            <tr style="font-weight: bold">
                <th>Medicine Name</th>
                <th>Company Name</th>
                <th>Medicine Type</th>
                <th>Agent Name</th>
                <th>Agent Contact Number</th>
                <th>Quantity Per Unit</th>
                <th>Available Quantity</th>
                <th>License Number</th>
                <th>Medicine Location</th>
                <th>Comments</th>
                <th></th>
            </tr>
            </thead>
            <tbody
                <tr ng-repeat="medicine in medicines">
                    <td class="v-middle">
                        <span>{{medicine.ProductName}}</span>
                    </td>
                    <td class="v-middle">
                        <span>{{medicine.MfgName}}</span>
                    </td>
                    <td class="v-middle">
                        <span>{{medicine.FormName}}</span>
                    </td>
                    <td class="v-middle">
                        <span>{{medicine.AgentName}}</span>
                    </td>
                    <td class="v-middle">
                        <span>{{medicine.AgentContactNumber}}</span>
                    </td>
                    <td class="v-middle">
                        <span>{{medicine.QuantityPerUnit}}</span>
                    </td>
                    <td class="v-middle">
                        <span>{{medicine.AvailableQuantity}}</span>
                    </td>
                    <td class="v-middle">
                        <span>{{medicine.LicenceNo}}</span>
                    </td>
                    <td class="v-middle">
                        <span>{{medicine.RackLocation}}</span>
                    </td>
                    <td class="v-middle">
                        <span>{{medicine.Comments}}</span>
                    </td>
                    <td>
                        <div class="buttons" ng-show="!rowform.$visible" style="">
                            <button class="btn btn-xs btn-info" ng-click="open(medicine, $index)">edit</button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="5" class="text-center">
                    <ul class="pagination"></ul>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-lg-5" ng-hide="medicines_loading">
        {{ loading_message }}
    </div>
</div>