<div class="content-wrapper">
    <div class="col-lg-12">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Quetionaries</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Patient Info</h4>
                    </div>
                </div>
                <hr class="hrheading">
                <div class="row">
                    <div class="col-md-3">

                        <div class="form-group">
                            <div class="controls">
                                <input type="text" placeholder="Donar Id" class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" placeholder="Donar Name" class="form-control">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- <label class="form-label" for="formfield3">Date Format</label>
                        <span class="desc">e.g. "2015-03-23"</span> -->
                                    <div class="controls">
                                        <input type="date" class="form-control" placeholder="YYYY-MM-DD" ng-model="field.u" ng-pattern="/[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$/">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="controls">
                                        OR
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="number" class="form-control" placeholder="Age">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="input-group">
                        <select class="form-control">
                            <option>Gender</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    </div>
                </div>



                <div class="row margin-top-30">
                    <div class="col-md-12">
                        <div ng-controller="TabsDemoCtrl">
                            <uib-tabset justified="true" class="tab-container primary">
                                <uib-tab>
                                    <uib-tab-heading>
                                        Questionaries
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>SNo.</th>
                                                    <th>Questionaries</th>
                                                    <th>Selection</th>


                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1.</td>
                                                    <td>Are you in God Health ?</td>
                                                    <td>Yes NO N/A</td>


                                                </tr>
                                                <tr>
                                                    <td>2.</td>
                                                    <td>Did you have something to eat in last 2 hours</td>
                                                    <td>Yes No N/A</td>


                                                </tr>

                                                <tr>
                                                    <td>3.</td>
                                                    <td>Cancer</td>
                                                    <td>Yes No N/A</td>


                                                </tr>
                                                <tr>
                                                    <td>4.</td>
                                                    <td>Did you have something to eat in last 2 hours</td>
                                                    <td>Yes No N/A</td>


                                                </tr>
                                                <tr>
                                                    <td>5.</td>
                                                    <td>Did you have something to eat in last 2 hours</td>
                                                    <td>Yes No N/A</td>


                                                </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        Physical Examination
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-3"> <div class="input-group">
                                            <select class="form-control">
                                                <option>Heamoglobin</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        </div>
                                        <div class="col-md-3"><div class="input-group">
                                            <select class="form-control">
                                                <option>Weight</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div></div>
                                        <div class="col-md-3"><div class="input-group">
                                            <select class="form-control">
                                                <option>Temperature</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div></div>
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <select class="form-control">
                                                    <option>Pulse</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>

                            </uib-tabset>
                        </div>
                    </div>
                </div>
		</section>
	</div>
</div>