<div class="content-wrapper" ng-init="app.settings.pagetitle = 'Bill Summary';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">{{app.settings.pagetitle}}</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Registration/Admission Charges</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Transaction Dt</th>
                                    <th>Exp Type</th>
                                    <th>Dr.Name</th>
                                    <th>Trans.On</th>
                                    <th>Price</th>
                                    <th>Amt Paid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>02-01-2016</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Varun Sai</td>
                                    <td>lorem</td>
                                    <td>&#8377; 500</td>
                                    <td>&#8377; 200</td>
                                </tr>
                                <tr>
                                    <td>02-01-2016</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Varun Sai</td>
                                    <td>lorem</td>
                                    <td>&#8377; 500</td>
                                    <td>&#8377; 200</td>
                                </tr>
                                <tr>
                                    <td>02-01-2016</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Varun Sai</td>
                                    <td>lorem</td>
                                    <td>&#8377; 500</td>
                                    <td>&#8377; 200</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                 <div class="row">
                    <div class="col-md-12">
                        <h4>Lab/Radiology Charges</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Transaction Dt</th>
                                    <th>Exp Type</th>
                                    <th>Dr.Name</th>
                                    <th>Trans.On</th>
                                    <th>Price</th>
                                    <th>Amt Paid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>02-01-2016</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Varun Sai</td>
                                    <td>lorem</td>
                                    <td>&#8377; 500</td>
                                    <td>&#8377; 200</td>
                                </tr>
                                <tr>
                                    <td>02-01-2016</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Varun Sai</td>
                                    <td>lorem</td>
                                    <td>&#8377; 500</td>
                                    <td>&#8377; 200</td>
                                </tr>
                                <tr>
                                    <td>02-01-2016</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Varun Sai</td>
                                    <td>lorem</td>
                                    <td>&#8377; 500</td>
                                    <td>&#8377; 200</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                 <div class="row">
                    <div class="col-md-12">
                        <h4>OT Charges</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Transaction Dt</th>
                                    <th>Exp Type</th>
                                    <th>Dr.Name</th>
                                    <th>Trans.On</th>
                                    <th>Price</th>
                                    <th>Amt Paid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>02-01-2016</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Varun Sai</td>
                                    <td>lorem</td>
                                    <td>&#8377; 500</td>
                                    <td>&#8377; 200</td>
                                </tr>
                                <tr>
                                    <td>02-01-2016</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Varun Sai</td>
                                    <td>lorem</td>
                                    <td>&#8377; 500</td>
                                    <td>&#8377; 200</td>
                                </tr>
                                <tr>
                                    <td>02-01-2016</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Varun Sai</td>
                                    <td>lorem</td>
                                    <td>&#8377; 500</td>
                                    <td>&#8377; 200</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                 <hr>
                 <div class="row">
                    <div class="col-md-12">
                        <h4>Pharmacy Expenses</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Drug Name</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Ord.On</th>
                                    <th>Ord.by</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Steptil 500mg</td>
                                    <td>30</td>
                                    <td>&#8377; 125</td>
                                    <td>lorem</td>
                                    <td>Ipsum</td>
                                    
                                </tr>
                                 <tr>
                                    <td>Steptil 500mg</td>
                                    <td>30</td>
                                    <td>&#8377; 125</td>
                                    <td>lorem</td>
                                    <td>Ipsum</td>
                                    
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr>

                <div class="row">
                    

                    <div class="col-md-6">

                    <h4>Doctor Expenses</h4>

                     <div class="row">
                            <div class="col-md-5"><strong>Consulting</strong></div>
                            <div class="col-md-7"><span>&#8377; 300</span></div>
                        </div>

                         <div class="row">
                            <div class="col-md-5"><strong>Special Exp</strong></div>
                            <div class="col-md-7"><span>&#8377; 500</span></div>
                        </div>
                        
                    </div>

                    <div class="col-md-6">

                    <h4>Room Charges</h4>

                     <div class="row">
                            <div class="col-md-5"><strong>ICU</strong></div>
                            <div class="col-md-7"><span>&#8377; 300</span></div>
                        </div>

                         <div class="row">
                            <div class="col-md-5"><strong>BED</strong></div>
                            <div class="col-md-7"><span>&#8377; 500</span></div>
                        </div>

                        <div class="row">
                            <div class="col-md-5"><strong>Casuality</strong></div>
                            <div class="col-md-7"><span>&#8377; 200</span></div>
                        </div>
                        
                    </div>
                </div>

                <hr>

                <div class="row">
                <div class="col-md-6">

                    <h4>Details</h4>

                     <div class="row">
                            <div class="col-md-5"><strong>Advance</strong></div>
                            <div class="col-md-7"><span>&#8377; 1000</span></div>
                        </div>

                         <div class="row">
                            <div class="col-md-5"><strong>Insurance</strong></div>
                            <div class="col-md-7"><span>&#8377; 200</span></div>
                        </div>

                        <div class="row">
                            <div class="col-md-5"><strong>Pre Approval</strong></div>
                            <div class="col-md-7"><span>&#8377; 200</span></div>
                        </div>

                        <div class="row">
                            <div class="col-md-5"><strong>Post Approval</strong></div>
                            <div class="col-md-7"><span>&#8377; 200</span></div>
                        </div>

                        <div class="row">
                            <div class="col-md-5"><strong>Insurance ID</strong></div>
                            <div class="col-md-7"><span>0525522</span></div>
                        </div>

                         <div class="row">
                            <div class="col-md-5"><strong>Total Due</strong></div>
                            <div class="col-md-7"><span>&#8377; 1000</span></div>
                        </div>
                        
                    </div>
                    </div>

                    

                     <hr>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <div class="">
                            <button type="submit" class="btn btn-primary">Print</button>
                            <button type="submit" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>



            </div>
        </section>
    </div>
</div>