 <div class="modal-content">
        <div class="modal-header ng-scope">
            <h3 class="modal-title">Alternative</h3>
        </div>
        <div class="modal-body ng-scope">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group"><div class="controls">
                    <input type="text" class="form-control" id="field-1" value="Drug Name">
                </div></div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group"><div class="controls">
                    <input type="text" class="form-control" id="field-1" value="Brand">
                </div></div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group"><div class="controls">
                    <textarea placeholder="composition"></textarea>
                </div></div>

            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                <table class="table table-bordered table-hover bg-white-only">
                    <tr style="font-weight: bold">
                        <td>Drug Name</td>
                        <td>Brand</td>
                        <td>Cost</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td class="v-middle">
                            <input type="text" class="form-control" id="field-1" value="">
                        </td>
                        <td class="v-middle">
                            <input type="text" class="form-control" id="field-1" value="">
                        </td>
                        <td class="v-middle">
                            <input type="text" class="form-control" id="field-1" value="">
                        </td>
                        <td class="v-middle">
                            <button type="submit" class="btn btn-primary">Select</button>
                        </td>

                    </tr>
                </table>


            </div>
        </div>

    </div>
</div>

