<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Vitals</h3>

</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="field-4">Blood Pressure</label>
                <span class="desc">Systolic/Diastolic</span>
                <div class="controls">
                    <input type="text" id="field-4" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="field-4">Heartbeat</label>
                <span class="desc">Bpm</span>
                <div class="controls">
                    <input type="text" id="field-4" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="field-4">Weight</label>
                <span class="desc">kgs</span>
                <div class="controls">
                    <input type="text" id="field-4" class="form-control">
                </div>
            </div>
        </div>
           <div class="col-md-6">
            <div class="form-group">
                <label class="form-label" for="field-4">Temparature</label>
                <span class="desc">Temp</span>
                <div class="controls">
                    <input type="text" id="field-4" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="field-4">BMI</label>
                <span class="desc">Bmi</span>
                <div class="controls">
                    <input type="text" id="field-4" class="form-control">
                </div>
            </div>


        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">Save</button>
</div>