<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Add Measure</h3>
</div>
<div class="modal-body">

    <div class="row margin-bottom-25
">
        <div class="col-md-3 margin-top-5">
            <label for="">Systolic</label>
        </div>
        <div class="col-md-9">
            <input type="text" id="" class="form-control">
        </div>
    </div>
    
    
    <div class="row margin-bottom-25
">
        <div class="col-md-3 margin-top-5">
            <label for="">Diastolic</label>
        </div>
        <div class="col-md-9">
            <input type="text" id="" class="form-control">
        </div>
    </div>
    
    <div class="row margin-bottom-25
">
        <div class="col-md-3 margin-top-5">
            <label for="">Comments</label>
        </div>
        <div class="col-md-9">
            <textarea cols="10" class="form-control"></textarea>
        </div>
    </div>



</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">Save</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>

</div>