
<div class="modal-header">
   <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Weekly Collecion Report</h3>
</div>
<div class="modal-body" ng-controller="PaginationDemoCtrl">
       
        <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                           <label class="form-label" for="field-1">From Date</label>
                            <div class="controls">
                                <input type="date" class="form-control" placeholder="From Date">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                           <label class="form-label" for="field-1">To Date</label>
                            <div class="controls">
                                <input type="date" class="form-control" placeholder="To Date">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                       
                       <button class="btn btn-primary" ng-click="cancel()">Diagnostics</button>
    <button class="btn btn-primary" ng-click="cancel()">OP Collection</button>
                        
                        
                    </div>
                   
                    
                </div>
                
              
                
                <hr>
                
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="5%">Sr.No</th>
                                    <th>Lorem</th>
                                    <th>Ipsum</th>
                                    <th>Lore</th>
                                   
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Sample</td>
                                    <td>Lorem</td>
                                    <td>Data</td>
                                   
                                    
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sample</td>
                                    <td>Lorem</td>
                                    <td>Data</td>
                                   
                                    
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sample</td>
                                    <td>Lorem</td>
                                    <td>Data</td>
                                   
                                    
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Sample</td>
                                    <td>Lorem</td>
                                    <td>Data</td>
                                   
                                    
                                </tr>
                               
                                 
                               
                            </tbody>
                        </table>
                    </div>
                  
                </div>
                
                <div class="row">
                    
                    <div class="col-md-12 text-right">
                        
                        <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
                    </div>
                </div>
                
                
        
      
                
</div>
<div class="modal-footer">
   
     <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    
</div>
