<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title"><i class="fa fa-plus-square"></i> Calpol 250 MG</h3>
    
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="controls">
                    <div class="checkbox margin-top-0">
                        <label class="icheck icheck-primary">
                            <input type="checkbox" value="">
                            <i></i> Completed
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <textarea class="form-control" cols="5" placeholder="Comments"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <textarea class="form-control" cols="5" placeholder="Reaction"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">Complete</button>
</div>
