<div class="modal-header">
   <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Select Patient</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 btn-texticons" ng-controller="DropdownDemoCtrl">
          <!--   <div class="btn-group" uib-dropdown>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Name</a></li>
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">ID</a></li>
              </ul>
              <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
                  <span class="fa fa-user"></span>
                  <span class="sr-only">Split button!</span>
              </button>
              <input type="text" class="input-text-bh"></input>
          </div> -->

              <div class="row">
                <div class="col-md-3">
                    <div class="input-group" inputgroup>
                        <select class="form-control">
                            <option>Name</option>
                            <option>Mobile</option>
                            <option>ID</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control"></input>
                </div>
            </div>
        </div>
  
</div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>
