<div class="modal-header">
   <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Comments</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">

        <textarea class="form-control" rows="6" placeholder="Please add your comments here...."></textarea>


            
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">Confirm</button>
</div>
    