
<div class="modal-header">
   <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Patient Details</h3>
</div>
<div class="modal-body">
        <form>
        <div class="row">
                                <div class="col-md-4">
                                    <div class="row margin-bottom-25
">
                                        <div class="col-md-2 margin-top-5">
                                            <label for="exampleInputName2">ID</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" disabled="" value="152452" id="exampleInputName2" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <select class="form-control">
                                            <option value="Select Title">Mr</option>
                                            <option value="Mr">Mr</option>
                                            <option value="Mrs">Mrs</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="controls">
                                            <input type="text" class="form-control" placeholder="Kishore">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="controls">
                                            <input type="text" class="form-control" placeholder="Kumar">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="controls">
                                            <input type="text" class="form-control" placeholder="0000000000">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <select class="form-control">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <!-- <label class="form-label" for="formfield3">Date Format</label>
                                <span class="desc">e.g. "2015-03-23"</span> -->
                                                <div class="controls">
                                                    <input type="date" ng-pattern="/[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$/" ng-model="field.u" placeholder="2016-05-10" class="form-control ng-pristine ng-untouched ng-valid ng-valid-pattern">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="controls">
                                                    OR
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <input type="number" placeholder="Age" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="controls">
                                            <input type="text" placeholder="Aadhar/Pan" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <select class="form-control">
                                            <option value="Blood Group">A+</option>
                                            <option value="A+">A+</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B+</option>
                                            <option value="B-">B-</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
        </form>
        <div class="row margin-top-10">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Appointment Details</h3></div>
                        </div>
                        <div id="walk-in-appointment">
                        <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6"><strong>Dr. Name:</strong></div>
                                <div class="col-md-6"><select class="form-control">
                                <option>Rajendar</option>
                                </select></div>
                            </div>
                         </div> 
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6"><strong>Booked On:</strong></div>
                                <div class="col-md-6"><input type="text" disabled="" value="(SUN)3-Mar-16" id="exampleInputName2" class="form-control"></div>
                            </div>
                         </div>  
                         </div>
                        <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6"><strong>Apt.Date:</strong></div>
                                <div class="col-md-6"><select class="form-control">
                                <option>20-05-2015</option>
                                <option>25-05-2015</option>
                                <option>30-05-2015</option>
                                </select></div>
                            </div>
                         </div> 
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6"><strong>Apt.Slot:</strong></div>
                                <div class="col-md-6"><select class="form-control">
                                <option>10.00PM</option>
                                <option>11.00PM</option>
                                <option>12.00PM</option>
                                </select></div>
                            </div>
                         </div>  
                         </div>
                        <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6"><strong>Consult fee:</strong></div>
                                <div class="col-md-6">300</div>
                            </div>
                         </div> 
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6"><strong>Payment Status:</strong></div>
                                <div class="col-md-6">Online</div>
                            </div>
                         </div>  
                         </div>
                         <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6"><strong>Paid Amount:</strong></div>
                                <div class="col-md-6">Rs 200</div>
                            </div>
                         </div> 
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6"><strong>DUE:</strong></div>
                                <div class="col-md-6">Rs 100</div>
                            </div>
                         </div>  
                         </div>
                         <div class="row">
                        <div class="col-md-4"><strong>Comments:</strong></div>
                        <div class="col-md-8">
                            <textarea class="form-control"></textarea>
                         </div>
                         </div>   
                         </div>
                        </div>
                    </div>
                </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">Save</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="cancel()">Save&Token </button>
</div>
