<div class="modal-header">
   <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Select Patient - Bed Occupancy</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 btn-texticons" ng-controller="DropdownDemoCtrl">
            <!--  <div class="btn-group" uib-dropdown>
               <ul class="dropdown-menu" role="menu">
                   <li><a href="#">Name</a></li>
                   <li><a href="#">Mobile</a></li>
                   <li><a href="#">ID</a></li>
               </ul>
               <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
                   <span class="fa fa-user"></span>
                   <span class="sr-only">Split button!</span>
               </button>
               <input type="text" class="input-text-bh"></input>
           </div> -->
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group" inputgroup>
                        <select class="form-control">
                            <option>Name</option>
                            <option>Mobile</option>
                            <option>ID</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" value="Kishore"></input>
                </div>
            </div>
        </div>
    </div>
    <div class="row top15">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5"><strong>Patient ID</strong></div>
                <div class="col-md-7">1252545</div>
            </div>
            <div class="row">
                <div class="col-md-5"><strong>Title</strong></div>
                <div class="col-md-7">Mr</div>
            </div>
            <div class="row">
                <div class="col-md-5"><strong>First Name</strong></div>
                <div class="col-md-7">Kishore</div>
            </div>
            <div class="row">
                <div class="col-md-5"><strong>Last Name</strong></div>
                <div class="col-md-7">Kumar</div>
            </div>
            <div class="row">
                <div class="col-md-5"><strong>Mobile</strong></div>
                <div class="col-md-7">9236469697</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5"><strong>Gender</strong></div>
                <div class="col-md-7">Male</div>
            </div>
            <div class="row">
                <div class="col-md-5"><strong>Age</strong></div>
                <div class="col-md-7">42</div>
            </div>
            <div class="row">
                <div class="col-md-5"><strong>Aadhar No</strong></div>
                <div class="col-md-7">UID2585568</div>
            </div>
            <div class="row">
                <div class="col-md-5"><strong>Blood Group</strong></div>
                <div class="col-md-7">B+</div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">Submit</button>
</div>
