
<div class="modal-header">
   <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Patient</h3>
</div>
<div class="modal-body">
       
        <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="controls">
                                <input type="date" class="form-control" placeholder="From Date">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                         <div class="form-group">
                            <div class="controls">
                                <input type="date" class="form-control" placeholder="To Date">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <select class="form-control">
                                <option value="Select Title">All Patients</option>
                                <option value="Mr">Patient-1</option>
                                <option value="Mr">Patient-2</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                
                <div class="row">
                    
                    
                    <div class="col-md-12">
                        
                         <div class="form-group">
                            <div class="controls">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </div>
                        
                    </div>
                </div>            
                  <div class="row">
                    <div class="col-md-12">
                        <h4>Patient</h4>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>P.ID</th>
                                    <th>P.Name</th>
                                    <th>Age</th>
                                    <th>Drug</th>
                                    <th>Syndrome</th>
                                    <th>Bed</th>
                                    <th>From</th>
                                    <th>To</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0525552</td>
                                    <td>Kishore</td>
                                    <td>48</td>
                                    <td>Dolo 650</td>
                                    <td>lorem ipsum</td>
                                    <td>05</td>
                                    <td>05-01-2016</td>
                                    <td>08-01-2016</td>
                                </tr>
                                 <tr>
                                    <td>0525552</td>
                                    <td>Kishore</td>
                                    <td>48</td>
                                    <td>Dolo 650</td>
                                    <td>lorem ipsum</td>
                                    <td>05</td>
                                    <td>05-01-2016</td>
                                    <td>08-01-2016</td>
                                </tr>
                                 <tr>
                                    <td>0525552</td>
                                    <td>Kishore</td>
                                    <td>48</td>
                                    <td>Dolo 650</td>
                                    <td>lorem ipsum</td>
                                    <td>05</td>
                                    <td>05-01-2016</td>
                                    <td>08-01-2016</td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                 
                </div>
                
                
        
      
                
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">Go</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
    
</div>
