<div class="content-wrapper">
    <div class="col-lg-12" ng-controller="pharmacySpecialityPlannogramCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Plannogram</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                        <div class="input-group">
                            <select class="form-control">
                                <option selected="selected">Stock Range Value</option>
                                <option>Stock</option>
                                <option>Stock</option>
                                <option>Store</option>
                                <option>Stock</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <select class="form-control">
                                <option selected="selected">Define Range</option>
                                <option>< 50</option>
                                <option>< 100</option>
                                <option>< 150</option>
                                <option>< 200</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                        <div class="input-group">
                            <select class="form-control">
                                <option selected="selected">Select Brand</option>
                                <option>Brand</option>
                                <option>Brand</option>
                                <option>Brand</option>
                                <option>Brand</option>
                            </select>
                        </div>

                        <div class="form-group"></div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="input-group">
                            <select class="form-control">
                                <option selected="selected">Drugs</option>
                                <option>Drugs</option>
                                <option>Drugs</option>
                                <option>Drugs</option>
                                <option>Drugs</option>
                            </select>
                        </div>
                        <div class="form-group"></div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group"><div class="controls">
                            <input type="text" class="form-control" id="field-1" value="Brands">
                        </div></div>
                        <div class="form-group"></div>
                    </div>


                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-bordered table-hover bg-white-only">
                            <tr style="font-weight: bold">
                                <td>Drug Name</td>
                                <td>Brand</td>
                                <td>Type</td>
                                <td>Min Stock</td>

                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                            </tr>
                        </table>
                        <div class="col-md-12"> <button class="btn btn-primary btn-xs" ng-click="">Submit</button></div>
                    </div></div>

            </div>
        </section>
    </div>
</div>