<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">{{ is_new ? "Add" : "Edit"}} Drug company</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal form-validation" name="companyForm" ng-submit="submitForm(companyForm.$valid)" >
        <div class="form-group">
          	<label>Company Name</label>
     		<input class="form-control" type="text" ng-model="company.MfgName" required>
        </div>
        <div class="form-group">
            <label>Agent Name</label>
            <input class="form-control" type="text" ng-model = "company.AgentName" required>
        </div>
        <div class="form-group">
            <label>Agent Contact Number</label>
            <input class="form-control" ng-model = "company.AgentContactNumber" type="number" ng-minlength="10" ng-maxlength="10" required>
        </div>
        <div class="form-group">
       		<label>Location</label>
       		<select class="form-control" ng-model="company.CityName">
                <option value=""></option>
                <option ng-repeat="city in cities track by $index" value="{{city}}">
                    {{city}}
                </option>
            </select>
        </div>
        <div class="form-group">
        	<label class="form-label checkbox icheck">
            	<input type="checkbox" ng-model="company.IsActive"><i></i> Active
          	</label>
        </div>
        <div class="form-group">
        	<button type="submit" ng-disabled="is_form_submit" class="btn btn-info">{{ is_new ? "Create" : "Upadate"}}</button>
          	<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>