<div class="row" ng-controller="pharmacyCompaniesCtrl">
    <div class="col-lg-5" ng-show="manufactures_loading">
        <input type="text" id="filter-drugs" class="form-control"  placeholder="Search" >
    </div>
    <div class="col-lg-7" ng-show="manufactures_loading">
        <button class="btn btn-primary btn-sm pull-right" ng-click="open()">Add Company</button>
    </div>
    <div class="clearfix"></div><br>
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" ng-show="manufactures_loading">
        <table class="table table-striped" ui-jq="footable" data-filter="#filter-drugs" data-page-size="20" class="table table-striped">
            <thead>
            <tr style="font-weight: bold">
                <th>Company Name</th>
                <th>Agent Name</th>
                <th>Agent Contact Number</th>
                <th>Location</th>
                <th>Active</th>
                <th></th>
            </tr>
            </thead>
            <tbody
                <tr ng-repeat="manufactur in manufactures">
                    <td class="v-middle">
                        <span>{{manufactur.MfgName}}</span>
                    </td>
                    <td class="v-middle">
                        <span>{{manufactur.AgentName}}</span>
                    </td>
                    <td class="v-middle">
                        <span>{{manufactur.AgentContactNumber}}</span>
                    </td>
                    <td class="v-middle">
                        <span>{{manufactur.CityName}}</span>
                    </td>
                    <td class="v-middle">
                        <span ng-if="manufactur.IsActive == true" title="Active" class="label label-success">Active</span>
                        <span ng-if="manufactur.IsActive == false" title="Disabled" class="label label-secondary">Disabled</span>
                    </td>
                    <td style="white-space: nowrap">
                        <div class="buttons" ng-show="!rowform.$visible" style="">
                            <button class="btn btn-xs btn-info" ng-click="open(manufactur)" >edit</button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="5" class="text-center">
                    <ul class="pagination"></ul>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-lg-5" ng-hide="manufactures_loading">
        {{ loading_message }}
    </div>
</div>