<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Dashboard';  ">
    
    <div class="row">
        <div class="col-lg-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Dashboard</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle material-icons">expand_more</i>
                        <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                        <i class="box_close material-icons">close</i>
                    </div>
                </header>
                <div class="content-body padding-bottom-0">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-user icon-lg'></i>
                                  
                                    <div class="clearfix"></div>
                                    <span>New Patient Registration</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-book icon-lg'></i>
                                    
                                    <div class="clearfix"></div>
                                    <span>Appointment</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-plus-square icon-lg'></i>
                                   
                                    <div class="clearfix"></div>
                                    <span>Admission Ward</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-medkit icon-lg'></i>
                                  
                                    <div class="clearfix"></div>
                                    <span>Emer/OT Booking</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-flask icon-lg'></i>
                                  
                                    <div class="clearfix"></div>
                                    <span>Lab Reports</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-user-md icon-lg'></i>
                                   
                                    <div class="clearfix"></div>
                                    <span>Doctor Schedule</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-plus-square icon-lg'></i>
                                  
                                    <div class="clearfix"></div>
                                    <span>My HR</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-credit-card icon-lg'></i>
                                   
                                    <div class="clearfix"></div>
                                    <span>Payment Desk</span>
                                </div>
                            </div>
                        </div>

                         <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-phone icon-lg'></i>
                                  
                                    <div class="clearfix"></div>
                                    <span>Call Register</span>
                                </div>
                            </div>
                        </div>

                         <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-plus-square icon-lg'></i>
                                   
                                    <div class="clearfix"></div>
                                    <span>Reports</span>
                                </div>
                            </div>
                        </div>

                         <div class="col-lg-3 col-md-4 col-xs-12 col-sm-6">
                            <div class="tile-counter bg-primary">
                                <div class="content">
                                    <i class='fa fa-medkit icon-lg'></i>
                                   
                                    <div class="clearfix"></div>
                                    <span>Discharge</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
