<div class="login_page">
<div class="login-wrapper">
    <div id="forgotpass" class="login loginpage col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
        <h1><a href="#" title="Login Page" tabindex="-1">HMS</a></h1>

        <form name="form" class="form-validation" ng-init="isCollapsed=true">
    
          <div class="text-danger text-center message" ng-show="authError">
              {{authError}}
          </div>

            <p>
                <label for="user_login">Email<br />
                    <input type="email" name="email" id="user_login" class="input" ng-model="email" required/></label>
            </p>

            <p class="submit">
 <button type="submit" ng-disabled="form.$invalid"  class="btn btn-accent btn-block" ng-click="isCollapsed = !isCollapsed" >Send Reset Link</button>            
            </p>

        <div uib-collapse="isCollapsed" class="m-t">
          <div class="alert alert-success">
            <p>A reset link sent to your email address. It will expire after 2 hours. &nbsp;<a ui-sref="access.login" style='color:#ffffff;font-weight:normal;'>Click to Sign in now</a></p>
          </div>
        </div>


        </form>

    </div>
</div>
</div>




