<div class="content-wrapper">
    <div class="col-lg-12" ng-controller="pharmacySpecialityStoreTransferCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Store Transfer</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                        <div class="input-group">
                            <select class="form-control">
                                <option selected="selected">From Store</option>
                                <option>Store</option>
                                <option>Store</option>
                                <option>Store</option>
                                <option>Store</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                        <div class="input-group">
                            <select class="form-control">
                                <option selected="selected">To Store</option>
                                <option>Store</option>
                                <option>Store</option>
                                <option>Store</option>
                                <option>Store</option>
                            </select>
                        </div>

                        <div class="form-group"></div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group"><div class="controls">
                            <input type="text" class="form-control" id="field-1" value="My Stock">
                        </div></div>
                        <div class="form-group"></div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group"><div class="controls">
                            <input type="text" class="form-control" id="field-1" value="Drug Search">
                        </div></div>
                        <div class="form-group"></div>
                    </div>


                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table class="table table-bordered table-hover bg-white-only">
                            <tr style="font-weight: bold">
                                <td>Drug Name</td>
                                <td>Drug Type</td>
                                <td>Brand</td>
                                <td>Expiry</td>
                                <td>Available Quantity</td>
                                <td>Cost Per Unit</td>
                                <td>Transfer Quantity</td>
                                <td>Action</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td">
                                <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-xs" ng-click="">Add</button>
                                </td>
                            </tr>
                        </table>

                    </div></div>

                <div class="row">

                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                         <input type="text" class="form-control" id="field-1">

                    </div>-->
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <h4>Sub Store</h4>
                        <table class="table table-bordered table-hover bg-white-only">
                            <tr style="font-weight: bold">
                                <td>Drug Name</td>
                                <td>Drug Type</td>
                                <td>Brand</td>
                                <td>Expiry</td>
                                <td>Available Quantity</td>
                                <td>Cost Per Unit</td>
                                <td>Transfer Quantity</td>
                                <td>Action</td>
                            </tr>
                            <tr>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td">
                                <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1">
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-xs" ng-click="">Add</button>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" value="Received By">
                                </div>
                            </div> </div>
                        <div class="col-lg-6">
                            <button class="btn btn-primary btn-xs" ng-click="addUser()">Transfer</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>