<div class="content-wrapper" ng-init="app.settings.pagetitle = 'Sparkline Charts';">
    <div class="col-lg-12" ng-controller="pharmacySpecialityInventoryMgmtCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Inventory Mgmt</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div ng-init="data2=[10, 8, 5, 7, 4, 4, 7, 5, 2, 8, 10 , 7, 4, 5,10, 8, 5, 7]" ui-jq="sparkline" ui-options="{{data2}}, {
                type: 'bar',
                barColor: '{{app.color.primary}}',
                height: '200',
                barWidth: '30',
                barSpacing: 1
                }" class="sparkline inline">Loading...
                        </div>
                    </div>




                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive padding-top-45 padding-bottom-45">
                        <table class="table table-bordered table-hover bg-white-only">
                            <tr style="font-weight: bold">
                                <td>Drug Name</td>
                                <td>Brand</td>
                                <td>Batch NumberDrug Type</td>
                                <td>Expiry</td>
                                <td>QuantityInvoice Id</td>
                                <td>Supplier Name</td>
                                <td>Value</td>
                                <td>Store Id</td>

                            </tr>
                            <tr>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                            </tr>
                        </table>

                        <h3>Preorder Report | Low Stock</h3>
                        <table class="table table-bordered table-hover bg-white-only">
                            <tr style="font-weight: bold">
                                <td>Drug Name</td>
                                <td>Brand</td>
                                <td>Quantity</td>
                                <td>Cost</td>
                                <td>Expired Quantity</td>
                                <td>Vendor Id</td>
                                <td>Order By</td>

                            </tr>
                            <tr>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>

                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">

                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Continue</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>