<div class="content-wrapper">
    <div class="col-lg-12" ng-controller="pharmacySalesReturnReportCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Sales Return</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group"><div class="controls">
                            <input type="text" class="form-control" id="field-1" value="Invoice Id" style="background:yellow;">
                        </div></div>
                        <button class="btn btn-primary btn-xs" ng-click="addUser()">Export to PDF</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group"><div class="controls">
                            <input type="text" class="form-control" id="field-1" value="Product Name">
                        </div></div>
                        <div class="form-group"></div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group"><div class="controls">
                            <input type="text" class="form-control" id="field-1" value="Drug Name">
                        </div></div>
                        <div class="form-group"></div>
                    </div>



                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive padding-top-45 padding-bottom-45">
                        <table class="table table-bordered table-hover bg-white-only">
                            <tr style="font-weight: bold">
                                <td>Drug Name</td>
                                <td>Drug Type</td>
                                <td>Brand</td>
                                <td>Batch Number</td>
                                <td>Invoice Id</td>
                                <td>Expiry</td>
                                <td>Inventory Date</td>
                                <td>Quantity</td>
                                <td>Return Quantity</td>
                                <td>Store Id</td>
                                <td>Return Cost</td>
                            </tr>
                            <tr>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                                <td class="v-middle">
                                    <input type="text" class="form-control" id="field-1" value="">
                                </td>
                            </tr>
                        </table>

                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <select class="form-control">
                                            <option>Payment Type</option>
                                            <option>Cash</option>
                                            <option>Cheque</option>
                                            <option>Credit Card</option>
                                            <option>Debit Card</option>
                                            <option>Online</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="controls">
                                            <textarea placeholder="Comments/Remarks"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="submit" class="btn btn-primary">Save&amp;Print</button>
                            </div>
                        </div>
                    </div></div>
            </div>

        </section>
    </div>
</div>