<div class="content-wrapper">
    <div class="col-lg-12" ng-controller="pharmacyStockReturnsCtrl">
            <h4 class="margin-top-0 ng-scope">Stock Returns</h4><hr />
        <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <select class="form-control">
                            <option>Medicine Name</option>
                            <option>Ciprown 500MG</option>
                            <option>Dologel</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <select class="form-control">
                            <option>Order Name</option>
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <input type="text" placeholder="Expiry Date" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <input type="text" placeholder="Purchase Cost Per Unit" class="form-control">
                        </div>
                    </div>
                </div>
            <div class="col-md-4">
                    <div class="form-group">
                        <div class="controls">
                            <input type="text" placeholder="Company Name" class="form-control">
                        </div>
                    </div>
                <div class="form-group">
                        <div class="controls">
                            <input type="text" placeholder="Purchase Date" class="form-control">
                        </div>
                    </div>
                <div class="form-group">
                        <div class="controls">
                            <input type="text" placeholder="Purchase Quantity" class="form-control">
                        </div>
                    </div>
                <div class="form-group">
                        <div class="controls">
                            <input type="text" placeholder="Quantity to be Return" class="form-control">
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                        <div class="controls">
                            <input type="text" placeholder="Medicine Type" class="form-control">
                        </div>
                    </div>
                <div class="input-group">
                        <select class="form-control">
                            <option>Batch Number</option>
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <input type="text" placeholder="Available Quantity" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <input type="text" placeholder="Amount" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls text-right">
                            <button class="btn btn-primary">Add New</button>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Stock Returns</h4>
                <hr class="hrheading">
                <div class="row top15">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover invoice-table">
                                <thead>
                                <tr>
                                    <td>
                                        <h4>Medicine Name</h4></td>
                                    <td>
                                        <h4>Company Name</h4></td>
                                    <td>
                                        <h4>Type</h4></td>
                                    <td>
                                        <h4>Order Name</h4></td>
                                    <td>
                                        <h4>Purchase Date</h4></td>
                                    <td>
                                        <h4>Batch Number</h4></td>
                                    <td>
                                        <h4>Expiry Date</h4></td>
                                    <td>
                                        <h4>Purchase Cost</h4></td>
                                    <td>
                                        <h4>Return Quantity</h4></td>
                                    <td>
                                        <h4>Amount</h4></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-right">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" placeholder="Total Amount" class="form-control">
                            </div>
                        </div>
                    </div>                            <button type="submit" class="btn btn-primary">Return Stock</button>

                </div>
            </div>
        </div>
        </div>
</div>