<div class="content-wrapper">
    <div class="col-lg-12" ng-controller="pharmacyMedicineInvoicesCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Medicine Invoices</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <h3>Patient Info</h3> -->

                        <div class="row">



                            <div class="col-md-4">
                                <div class="row margin-bottom-25
">
                                    <div class="col-md-4 margin-top-5">
                                        <label for="exampleInputName2">Invoice ID</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" id="exampleInputName2" value="152452" disabled>
                                    </div>
                                    <div class="col-md-1 text-right">

                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="First Name" class="form-control">
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <!-- <label class="form-label" for="formfield3">Date Format</label>
                                <span class="desc">e.g. "2015-03-23"</span> -->
                                            <div class="controls">
                                                <input type="date" class="form-control" placeholder="YYYY-MM-DD" ng-model="field.u" ng-pattern="/[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$/">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="controls">
                                                OR
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="controls">
                                                <input type="number" class="form-control" placeholder="Age">
                                            </div>
                                        </div>
                                    </div>
                                </div>






                            </div>




                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Patient Id" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Last Name" class="form-control">
                                    </div>
                                </div>



                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>

                                    </select>
                                </div>

                            </div>



                            <div class="col-md-4">

                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Cutomer</option>
                                        <option>Patient</option>


                                    </select>
                                </div>


                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Mobile Number" class="form-control">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Referred Doctor" class="form-control">
                                    </div>
                                </div>





                            </div>



                        </div>

                        <div class="row">



                            <div class="col-md-4">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Medicine Name</option>
                                        <option>Ciprown 500MG</option>
                                        <option>Dologel</option>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Unit Price" class="form-control">
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <!-- <label class="form-label" for="formfield3">Date Format</label>
                                <span class="desc">e.g. "2015-03-23"</span> -->
                                            <div class="controls">
                                                <input type="date" class="form-control" placeholder="Discount" ng-model="field.u" ng-pattern="/[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$/">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="controls">
                                                OR
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="controls">
                                                <input type="number" class="form-control" placeholder="%">
                                            </div>
                                        </div>
                                    </div>
                                </div>






                            </div>




                            <div class="col-md-4">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Batch Number</option>
                                        <option></option>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Available Quantity" class="form-control">
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Amount" class="form-control">
                                    </div>
                                </div>

                            </div>



                            <div class="col-md-4">

                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Expiry Date" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Reqiured Quantity" class="form-control">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="How to use?" class="form-control">
                                    </div>
                                </div>





                            </div>


                            <div class="row">
                                <div class="col-md-12 text-right">

                                    <button class="btn btn-primary">Add New</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h4>Medicine Invoice</h4>
                            <hr class="hrheading">
                            <div class="row top15">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover invoice-table">
                                            <thead>
                                            <tr>
                                                <td>
                                                    <h4>Medicine Name</h4></td>
                                                <td>
                                                    <h4>Company Name</h4></td>
                                                <td>
                                                    <h4>Type</h4></td>
                                                <td>
                                                    <h4>Batch No</h4></td>
                                                <td>
                                                    <h4>Expiry Date</h4></td>
                                                <td>
                                                    <h4>Quantity</h4></td>
                                                <td>
                                                    <h4>Unit Price</h4></td>
                                                <td>
                                                    <h4>Discount</h4></td>
                                                <td>
                                                    <h4>Amount</h4></td>
                                                <td>
                                                    <h4>Usage</h4></td>
                                                <td>
                                                    <h4>Edit</h4></td>

                                                <td>
                                                    <h4>Delete</h4></td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                    Dolo
                                                </td>
                                                <td class="text-center">
                                                    Cipla
                                                </td>
                                                <td class="text-center">
                                                    Tablet
                                                </td>
                                                <td class="text-right">
                                                    A1234
                                                </td>
                                                <td>
                                                    12/18
                                                </td>
                                                <td class="text-center">
                                                    2
                                                </td>
                                                <td class="text-center">
                                                    25
                                                </td>
                                                <td class="text-center">
                                                    5.00
                                                </td>
                                                <td class="text-right">
                                                    0
                                                </td>
                                                <td>
                                                    10.00
                                                </td>

                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>







                    <hr>









                    <hr>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Payment Type</option>
                                        <option>Cash</option>
                                        <option>Cheque</option>
                                        <option>Credit Card</option>
                                        <option>Debit Card</option>
                                        <option>Online</option>
                                    </select></div>
                            </div>
                            <div class="col-md-4">

                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Total Amount" class="form-control">
                                    </div>
                                </div>

                            </div>                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="submit" class="btn btn-primary">Save&amp;Print</button>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>
</div>