<div class="content-wrapper" ng-init="app.settings.pagetitle = 'My Appointments';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">{{app.settings.pagetitle}}</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>App ID</th>
                            <th>Patient Name</th>
                            <th>Age</th>
                            <th>Syndrome</th>
                            <th>Dept</th>
                            <th>Doctor</th>
                            <th>Slot</th>
                            <th>Token</th>
                            <th>Review</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>112025252</td>
                            <td>Kishore Kumar</td>
                            <td>42</td>
                            <td>Fever</td>
                            <td>General</td>
                            <td>Rajendar</td>
                            <td>12-03-16 12:00PM</td>
                            <td>
                                <div class="checkbox margin-top-0">
                                    <label class="icheck icheck-primary">
                                        <input type="checkbox" value="">
                                        <i></i> 252
                                    </label>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-success"><i class="fa fa-pencil-square"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>112025252</td>
                            <td>Kishore Kumar</td>
                            <td>42</td>
                            <td>Fever</td>
                            <td>General</td>
                            <td>Rajendar</td>
                            <td>12-03-16 12:00PM</td>
                            <td>
                                <div class="checkbox margin-top-0">
                                    <label class="icheck icheck-primary">
                                        <input type="checkbox" value="">
                                        <i></i> 252
                                    </label>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-success"><i class="fa fa-pencil-square"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>112025252</td>
                            <td>Kishore Kumar</td>
                            <td>42</td>
                            <td>Fever</td>
                            <td>General</td>
                            <td>Rajendar</td>
                            <td>12-03-16 12:00PM</td>
                            <td>
                                <div class="checkbox margin-top-0">
                                    <label class="icheck icheck-primary">
                                        <input type="checkbox" value="">
                                        <i></i> 252
                                    </label>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-success"><i class="fa fa-pencil-square"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>112025252</td>
                            <td>Kishore Kumar</td>
                            <td>42</td>
                            <td>Fever</td>
                            <td>General</td>
                            <td>Rajendar</td>
                            <td>12-03-16 12:00PM</td>
                            <td>
                                <div class="checkbox margin-top-0">
                                    <label class="icheck icheck-primary">
                                        <input type="checkbox" value="">
                                        <i></i> 252
                                    </label>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-success"><i class="fa fa-pencil-square"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>112025252</td>
                            <td>Kishore Kumar</td>
                            <td>42</td>
                            <td>Fever</td>
                            <td>General</td>
                            <td>Rajendar</td>
                            <td>12-03-16 12:00PM</td>
                            <td>
                                <div class="checkbox margin-top-0">
                                    <label class="icheck icheck-primary">
                                        <input type="checkbox" value="">
                                        <i></i> 252
                                    </label>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-success"><i class="fa fa-pencil-square"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>112025252</td>
                            <td>Kishore Kumar</td>
                            <td>42</td>
                            <td>Fever</td>
                            <td>General</td>
                            <td>Rajendar</td>
                            <td>12-03-16 12:00PM</td>
                            <td>
                                <div class="checkbox margin-top-0">
                                    <label class="icheck icheck-primary">
                                        <input type="checkbox" value="">
                                        <i></i> 252
                                    </label>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-success"><i class="fa fa-pencil-square"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
