<div class="content-wrapper" ng-init="app.settings.pagetitle = 'My Revenue';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">{{app.settings.pagetitle}}</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row myrevenue">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <section class="box">

                            <div class="content-body">
                                <!-- <div class="row">
                                    <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2" ng-controller="BarCtrl">
                                        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas>
                                    </div>
                                </div>-->

                                <div class="row">
                                   
                                   <div class="col-md-2"></div>
                                   
                                   
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        <div ng-init="data2=[10, 8, 5, 7, 4, 4, 7, 5, 2, 8, 10 , 7, 4, 5,10, 8, 5, 7]" ui-jq="sparkline" ui-options="{{data2}}, {
                type: 'bar',
                barColor: '{{app.color.primary}}',
                height: '200',
                barWidth: '30',
                barSpacing: 1
                }" class="sparkline inline">Loading...
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th>Patient Name</th>
                            <th>Date</th>
                            <th>Transaction Type</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>Kishore Kumar</td>
                            <td>12-03-16 12:00PM</td>
                            <td>Lorem</td>
                        </tr>
                        <tr>

                            <td>Kishore Kumar</td>
                            <td>12-03-16 12:00PM</td>
                            <td>Lorem</td>
                        </tr>
                        <tr>

                            <td>Kishore Kumar</td>
                            <td>12-03-16 12:00PM</td>
                            <td>Lorem</td>
                        </tr>
                        <tr>

                            <td>Kishore Kumar</td>
                            <td>12-03-16 12:00PM</td>
                            <td>Lorem</td>
                        </tr>
                        <tr>

                            <td>Kishore Kumar</td>
                            <td>12-03-16 12:00PM</td>
                            <td>Lorem</td>
                        </tr>
                        <tr>

                            <td>Kishore Kumar</td>
                            <td>12-03-16 12:00PM</td>
                            <td>Lorem</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>