<div class="content-wrapper" ng-init="app.settings.pagetitle = 'OP Review';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">{{app.settings.pagetitle}}</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
               
               <div class="row">
                   
                   <div class="col-md-6"></div>
                   <div class="col-md-3 text-right">
                       <button class="btn btn-primary">Patient Health</button>
                   </div>
                   <div class="col-md-3">
                      
                      <div class="input-group" inputgroup="">
                                    <select class="form-control ">
                                        <option value="Default Select">Visit History</option>
                                        <option value="Option 1">Visit: 05-01-2016</option>
                                        <option value="Option 2">Visit: 15-01-2016</option>
                                        <option value="Option 3">Visit: 05-02-2016</option>
                                    </select>
                                </div>
                       
                   </div>
               </div>
                <div class="row margin-top-20">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5"><strong>Patient</strong></div>
                            <div class="col-md-7"><span>2525412</span> <span>Kishore</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong>Mobile</strong></div>
                            <div class="col-md-7">9246369697</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong>App.Time</strong></div>
                            <div class="col-md-7">20-12-2015 10:00AM</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5"><strong>Age</strong></div>
                            <div class="col-md-7">48</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong>OP ID</strong></div>
                            <div class="col-md-7">2545</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong>Payment</strong></div>
                            <div class="col-md-7">Cash</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5"><strong>Last Visited</strong></div>
                            <div class="col-md-7">20-12-2015</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><strong>Doctor</strong></div>
                            <div class="col-md-7">Samual</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Key points Discussed</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="well transparent">
                                    <h5>Current Visit</h5>
                                    <div class="form-group">
                                        <div class="controls">
                                            <textarea class="form-control" cols="5" id="field-6"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="well transparent">
                                    <h5>Last Visit</h5>
                                    <div class="form-group">
                                        <div class="controls">
                                            <textarea class="form-control" cols="5" id="field-6" disabled>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-9">
                                <h4>Vital Signs</h4>
                            </div>
                            <div class="col-md-3 text-right">
                                <div class="input-group" inputgroup="">
                                    <select class="form-control ">
                                        <option value="Default Select">Select</option>
                                        <option value="Option 1">Top 5</option>
                                        <option value="Option 2">Top 10</option>
                                        <option value="Option 3">Top 20</option>
                                    </select>
                                </div>
                            </div>
                            <!--<div class="col-md-3 text-right">
                                <div class="btn-group margin-bottom-10 margin-right-15">
                                    <label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="radioModel" uib-btn-radio="'Left'">Week</label>
                                    <label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="radioModel" uib-btn-radio="'Middle'">Mon</label>
                                    <label class="btn btn-primary ng-pristine ng-untouched ng-valid" ng-model="radioModel" uib-btn-radio="'Right'">Year</label>
                                </div>
                            </div>-->
                        </div>
                        <div class="row">
                            <div class="col-md-4 top50">
                                <div class="input-group">
                                    <input class="form-control " type="text" placeholder="BP">
                                </div>
                                <div class="input-group">
                                    <input class="form-control " type="text" placeholder="HB">
                                </div>
                                <div class="input-group">
                                    <input class="form-control " type="text" placeholder="WEI">
                                </div>
                                <div class="input-group">
                                    <input class="form-control " type="text" placeholder="TEMP">
                                </div>
                                <div class="input-group">
                                    <input class="form-control " type="text" placeholder="BMI">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div ng-controller='MorrisCtrl'>
                                    <div line-chart line-data='[
                    { y: "2006", a: 100, b: 90 },
                    { y: "2007", a: 175,  b: 115 },
                    { y: "2008", a: 150,  b: 40 },
                    { y: "2009", a: 175,  b: 165 },
                    { y: "2010", a: 150,  b: 100 },
                    { y: "2011", a: 75,  b: 165 },
                    { y: "2012", a: 100, b: 190 }
                ]' line-xkey='["y"]' line-ykeys='["a", "b"]' line-labels='["Serie A", "Serie B"]' line-colors='["#673AB7", "#FF6E40"]'>
                                    </div>
                                </div>

                                <hr>

                                <div class="row margin-top-15">

                                    <div class="col-md-2">
                                        <div class="checkbox">
                                            <label class="icheck">
                                                <input type="checkbox" value="vital">
                                                <i></i> BP
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="checkbox">
                                            <label class="icheck">
                                                <input type="checkbox" value="vital">
                                                <i></i> HB
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="checkbox">
                                            <label class="icheck">
                                                <input type="checkbox" value="vital">
                                                <i></i> WEI
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="checkbox">
                                            <label class="icheck">
                                                <input type="checkbox" value="vital">
                                                <i></i> TEMP
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="checkbox">
                                            <label class="icheck">
                                                <input type="checkbox" value="vital">
                                                <i></i> BMI
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="checkbox">
                                            <label class="icheck">
                                                <input type="checkbox" value="vital">
                                                <i></i> BP
                                            </label>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Prescriptons / Treatment Planner</h4>
                        <div class="row top15">
                            <div class="col-md-8">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover invoice-table">
                                        <thead>
                                            <tr>
                                                <td>
                                                    <h4>Drug Name and Form</h4></td>
                                                <td class="text-center">
                                                    <h4>stregnth</h4></td>
                                                <td class="text-center">
                                                    <h4>Douse and frequency</h4></td>
                                                <td class="text-right">
                                                    <h4>Quantity</h4></td>
                                                <td class="text-left">
                                                    <h4>Direction</h4></td>
                                                    
                                                    <td><h4>Action</h4></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-left">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-left">
                                                    <button type="button" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash"></span> 
                            </button>
                                                </td>
                                            </tr>
                                           <tr>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-left">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-left">
                                                    <button type="button" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash"></span> 
                            </button>
                                                </td>
                                            </tr>
                                         <tr>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-left">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-left">
                                                    <button type="button" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash"></span> 
                            </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-left">
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-left">
                                                    <button type="button" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash"></span> 
                            </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="well transparent">
                                    <h5>Last Visit- Suggested Drugs</h5>
                                    <div class="form-group">
                                        <div class="controls">
                                            <textarea class="form-control" cols="5" rows="10" disabled>1)calpol,500mg,1 tablet,daily 2 times:for a week, before food. 2)crocene, 250mg, 1 tb, 3 times a days, NA. 3)flaxen, 300ml, 10ML, 2 times a day: continue 3 days, after food</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 topnegative">
                                
                                <button class="btn btn-primary">Add New</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Diagnosis/Labs Requests</h4>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="well transparent">
                                    
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input class="form-control " type="text" placeholder="Type Test Name">
                                            </div>
                                            <div class="input-group">
                                                <input class="form-control " type="text" placeholder="Type Test Name">
                                            </div>
                                            <div class="input-group">
                                                <input class="form-control " type="text" placeholder="Type Test Name">
                                            </div>
                                            <div class="input-group">
                                                <input class="form-control " type="text" placeholder="Type Test Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="well transparent">
                                    <h5>Previous Visit Lab Request</h5>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <a href="" class="btn btn-link btn-icon  right15 margin-bottom-5">
                                                <i class="fa fa-check-circle"></i> &nbsp; <span>
 RGB Report- 01-Feb-2016</span>
                                            </a>
                                            <a href="" class="btn btn-link btn-icon  right15 margin-bottom-5">
                                                <i class="fa fa-check-circle"></i> &nbsp; <span>
 
 xRAY - 01-Feb-2016</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Instructions</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="well transparent">
                                    <h5>Current Visit</h5>
                                    <div class="form-group">
                                        <div class="controls">
                                            <textarea class="form-control" cols="5" id="field-6"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="well transparent">
                                    <h5>Last Visit</h5>
                                    <div class="form-group">
                                        <div class="controls">
                                            <textarea class="form-control" cols="5" id="field-6" disabled="">Suggest to take rest </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Next Visit On</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="well transparent">
                                    <div class="form-group">
                                        <!-- <label class="form-label" for="formfield3">Date Format</label>
                                <span class="desc">e.g. "2015-03-23"</span> -->
                                        <div class="controls">
                                            <input type="date" class="form-control ng-pristine ng-valid ng-valid-pattern ng-touched" placeholder="YYYY-MM-DD" ng-model="field.u" ng-pattern="/[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$/">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <div class="">
                            <button type="submit" ng-disabled="step1.$invalid" class="btn btn-primary" ng-click="steps.step2=true">Save</button>
                            <button type="submit" ng-disabled="step1.$invalid" class="btn btn-primary" ng-click="steps.step2=true">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>