<div class="content-wrapper">
    <div class="col-lg-12" ng-controller="ModalDemoCtrl">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Appoinment Summary</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Apt. ID</th>
                            <th>Pt. ID</th>
                            <th>Name</th>
                            <th>Dr. Name</th>
                            <th>Apt. Time</th>
                            <th>Reserved On</th>
                           
                            <th>TO#</th>
                            <th>&#8377;</th>
                            <th width="15%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>112025252</td>
                            <td>112025252</td>
                            <td>Kishore</td>
                            <td>Rajendar</td>
                            <td>12-03-16 12:00PM</td>
                            <td>12-03-16 12:00PM</td>
                            
                            <td>O12</td>
                            <td><i class="fa fa-circle text-success"></i></td>
                          <td> <a href="javascript:void(0)"><i class="fa fa-pencil-square-o"  ng-click="appointsummary('lg')"></i></a> <a href="#"><i class="fa fa-times-circle"></i></a> <a href="#"><i class="fa fa-key"></i></a> <a href="#"><i class="fa fa-print"></i></a> <a href="#"><i class="fa fa-tag"></i></a> <a href="#"><i class="fa fa-file-powerpoint-o"></i></a></td>
                        </tr>
                        <tr>
                        <td>112025252</td>
                            <td>112025253</td>
                            <td>pawan</td>
                            <td>Rajendar</td>
                            <td>12-03-16 1:00PM</td>
                            <td>12-03-16 12:00PM</td>
                            
                            <td>W15</td>
                            <td><i class="fa fa-circle text-danger"></i></td>
                           <td> <a href="javascript:void(0)"><i class="fa fa-pencil-square-o"  ng-click="appointsummary('lg')"></i></a> <a href="#"><i class="fa fa-times-circle"></i></a> <a href="#"><i class="fa fa-key"></i></a> <a href="#"><i class="fa fa-print"></i></a> <a href="#"><i class="fa fa-tag"></i></a> <a href="#"><i class="fa fa-file-powerpoint-o"></i></a></td>
                        </tr>
                        <tr>
                        <td>112025252</td>
                            <td>112025254</td>
                            <td>Kiran</td>
                            <td>Rajendar</td>
                            <td>12-03-16 2:00PM</td>
                            <td>12-03-16 12:00PM</td>
                           
                            <td>A12</td>
                            <td><i class="fa fa-circle text-success"></i></td>
                           <td> <a href="javascript:void(0)"><i class="fa fa-pencil-square-o"  ng-click="appointsummary('lg')"></i></a> <a href="#"><i class="fa fa-times-circle"></i></a> <a href="#"><i class="fa fa-key"></i></a> <a href="#"><i class="fa fa-print"></i></a> <a href="#"><i class="fa fa-tag"></i></a> <a href="#"><i class="fa fa-file-powerpoint-o"></i></a></td>
                        </tr>
                       <tr>
                            <td>112025252</td>
                            <td>112025255</td>
                            <td>Naresh</td>
                            <td>Rajendar</td>
                            <td>12-03-16 3:00PM</td>
                            <td>12-03-16 12:00PM</td>
                            
                            <td>O52</td>
                            <td><i class="fa fa-circle text-warning"></i></td>
                           <td> <a href="javascript:void(0)"><i class="fa fa-pencil-square-o"  ng-click="appointsummary('lg')"></i></a> <a href="#"><i class="fa fa-times-circle"></i></a> <a href="#"><i class="fa fa-key"></i></a> <a href="#"><i class="fa fa-print"></i></a> <a href="#"><i class="fa fa-tag"></i></a> <a href="#"><i class="fa fa-file-powerpoint-o"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>


