<div class="content-wrapper">
    <div class="col-lg-12" ng-controller="pharmacyMastersCtrl">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Pharmacy Masters</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class = "row">
                    <div class="col-lg-12">
                        <uib-tabset class="tab-container master-tab-container" active="tab_master_index">
                       		<uib-tab ui-sref-active="true" ui-sref="app.pharmacy-masters.companies">
                                <uib-tab-heading>Drug Companies</uib-tab-heading>
                               	<div ui-view="companies"></div>
                            </uib-tab>
                            <uib-tab ui-sref-active="true" ui-sref="app.pharmacy-masters.medicine-type">
                                <uib-tab-heading>Medicine Type</uib-tab-heading>
                                <div ui-view="medicine-type"></div>
                            </uib-tab>
                            <uib-tab ui-sref-active="true" ui-sref="app.pharmacy-masters.medicine">
                                <uib-tab-heading>Medicines</uib-tab-heading>
                                <div ui-view="medicnes"></div>
                            </uib-tab>
                   		</uib-tabset>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
