<div class="content-wrapper">
    <div class="col-lg-12">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Registration</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <h3>Patient Info</h3> -->

                        <div class="row">



                            <div class="col-md-4">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Bio Metrics</option>
                                        <option>Yes</option>
                                        <option>NO</option>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Donar Name" class="form-control">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Occuption" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Address" class="form-control">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Mobile Number" class="form-control">
                                    </div>
                                </div>

                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Donation Type</option>
                                        <option>Voluntry</option>
                                        <option>Donation</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Old Reference Number" class="form-control">
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-4">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Donar Type</option>
                                        <option>New</option>
                                    </select>
                                </div>

                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>

                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Martial Status</option>
                                        <option>Single</option>
                                        <option>Married</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="District" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Email Address" class="form-control">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Blood Group</option>
                                        <option>AB+</option>
                                        <option>O+</option>
                                    </select>
                                </div>
                            </div>



                            <div class="col-md-4">

                                <div class="form-group">
                                    <button class="btn btn-primary">Cross Check BioMetric</button>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <!-- <label class="form-label" for="formfield3">Date Format</label>
                                <span class="desc">e.g. "2015-03-23"</span> -->
                                            <div class="controls">
                                                <input type="date" class="form-control" placeholder="YYYY-MM-DD" ng-model="field.u" ng-pattern="/[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$/">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="controls">
                                                OR
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="controls">
                                                <input type="number" class="form-control" placeholder="Age">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Fathers / Husbands Name" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="controls">
                                        <input type="text" placeholder="Phone (R)" class="form-control">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Wish to be contacted by</option>
                                        <option>Mobile</option>
                                        <option>Email</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Donar Source</option>
                                        <option>Direct</option>
                                        <option>Indirect</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-12 text-right">

                    <button class="btn btn-primary">Register</button>  <button class="btn btn-primary">Clears</button>
                </div>
                <div class="col-md-12 margin-bottom20"></div>
            </div>
    </div>
		</section>
	</div>
</div>